<!-- CABECERA -->
<mat-toolbar class="mat-primary mat-elevation-z2 cabecera">
  {{tituloModalBalotario}}
  <button tabindex="-1" mat-icon-button (click)="cerrarFormulario()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<!-- CABECERA -->

<div class="contenido-formulario" [formGroup]="balotarioForm">
   
  <div class="bandeja">
    <div class="container">
      <div class="row">

        
        <div class="">             
          <mat-form-field appearance="outline"  style="width: 47%">
            <mat-label>Fecha inicio <span>*</span></mat-label>
            <input matInput [matDatepicker]="picker1" (click)="picker1.open()" 
           formControlName="fechaInicio" 
            >
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="outline"  style="width: 48%">
            <mat-label>Fecha final <span>*</span></mat-label>
            <input matInput [matDatepicker]="picker2" readonly (click)="picker2.open()" 
            formControlName="fechaFin" 
            >
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="columna">
          <mat-form-field appearance="outline">
            <mat-label>Descripcion de balotario <span>*</span></mat-label>
            <input maxlength="100" matInput formControlName="descripcion"  
            [(ngModel)]="balotario.nomDescripcion" style="font-weight: 500;">
            
          </mat-form-field>
        </div>

        <div class="columna">
        <mat-form-field appearance="outline"style="width: 30%"  >
          <mat-label>Nro de intentos <span>*</span></mat-label>
          <input matInput type="number" placeholder="Ex. 12" 
          formControlName="nroIntentos" [(ngModel)]="balotario.cantIntento" min="1">
          
          <span matSuffix></span>
          
        </mat-form-field>
        <mat-form-field appearance="outline"style="width: 30%" >
          <mat-label>Límite de tiempo(minutos)<span>*</span></mat-label>
          <input matInput type="number" placeholder="Ex. 12" formControlName="limiteTiempo" 
          [(ngModel)]="balotario.cantTiempo" min="1">
          <span matSuffix></span>
          
        </mat-form-field>

        <mat-form-field appearance="outline"  style="width: 30%">
          <mat-label>Resultado aprobatorio<span>*</span></mat-label>
          <input matInput type="number" placeholder="Ex. 12" formControlName="resultadoAprobatorio" 
          [(ngModel)]="balotario.califAprobatoria" min="10">
          <span matSuffix></span>
          
        </mat-form-field>

        </div>

        <div class="columna">
          <mat-form-field appearance="outline">
            <mat-label>Mensaje Inicial <span>*</span></mat-label>
            <textarea  maxlength="300" matInput formControlName="mensajeInicial" [(ngModel)]="balotario.nomMensaje"></textarea>
          </mat-form-field>
        </div>

        <div class="columna">
          <mat-form-field appearance="outline">
            <mat-label>Tipo de balotario <span>*</span></mat-label>
            <mat-select formControlName="tipoBalotario" 
            [(ngModel)]="balotario.tipoBalotario" class="tamanio-seleccionar">
              <mat-option value="C" (click)="eventoTipoBalotario()">Cargo</mat-option>
              <mat-option value="L" (click)="eventoTipoBalotario()">Local</mat-option>
              <mat-option value="I" (click)="eventoTipoBalotario()">Por personas</mat-option>     
          </mat-select>
          </mat-form-field>

        </div>

        <div *ngIf="balotario.tipoBalotario == 'C' " class="columna" >
          <mat-form-field appearance="outline" >
            <mat-label>Cargo <span>*</span></mat-label>
            <mat-select formControlName="cargo" 
            [(ngModel)]="balotario.codCargo" class="tamanio-seleccionar">

              <mat-option *ngFor="let cargo of listCargo" [value]="cargo.idCodigo">
                {{cargo.cidNombre}}</mat-option>    
                
          </mat-select>
          </mat-form-field>

        </div>

        <div *ngIf="balotario.tipoBalotario =='L'" class="columna" >
          <mat-form-field appearance="outline">
            <mat-label>Categoria <span>*</span></mat-label>
            <mat-select formControlName="categoria" class="tamanio-seleccionar"
            [(ngModel)]="balotario.codCategoria" >
           <mat-option *ngFor="let cat of listCategoria" [value]="cat.idCodigo" 
           (click)="buscarArea(cat.idCodigo)">{{cat.cidNombre}}</mat-option>    
          </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="balotario.tipoBalotario == 'L'" class="columna">
          <mat-form-field appearance="outline">
            <mat-label>Área <span>*</span></mat-label>
            <mat-select formControlName="area" class="tamanio-seleccionar"
            [(ngModel)]="balotario.codArea">
            <mat-option *ngFor="let area of listArea" [value]="area.idCodigo" (click)="buscarlocal(area.idCategoria, area.idCodigo)">{{area.cidNombre}}</mat-option>  
          </mat-select>
          </mat-form-field>

        </div>

        <div *ngIf="balotario.tipoBalotario=='L'" class="columna">
          <mat-form-field appearance="outline">
            <mat-label>Local <span>*</span></mat-label>
            <mat-select formControlName="local" class="tamanio-seleccionar"
            [(ngModel)]="balotario.codLocal">
            <mat-option *ngFor="let local of listLocal" [value]="local.idCodigo" >{{local.cidNombre}}</mat-option> 
          </mat-select>
          </mat-form-field>

        </div>

        <div *ngIf="estado_modificar == true" class="columna">
        <mat-form-field appearance="outline">
          <mat-label>Estado <span>*</span></mat-label>
          <mat-select formControlName="estado" class="tamanio-seleccionar" 
          [(ngModel)]="balotario.codEstado" >
          <mat-option *ngFor="let est of listEstado" [value]="est.idCodigo">{{est.cidNombre}}</mat-option>    
        </mat-select>
        </mat-form-field>
        </div>
      
        <mat-card *ngIf="balotario.tipoBalotario=='I'" class="example-card">
          <mat-card-header>
            <mat-card-title>Personas</mat-card-title>
          </mat-card-header>
          <mat-card-content>
        
            <div>
              <form class="persona-form" [formGroup]='personasForm'>
                <section>
                  <div class="example-label" style="width: 80%;">
                    <mat-form-field appearance="outline" style="width: 90%;">
                      <mat-label>Buscar Persona<span></span></mat-label>
                      <input matInput [matAutocomplete]="auto" formControlName='personaInput'>
                    </mat-form-field>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="30"></mat-spinner></mat-option>
                      <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let persona of filteredPersonas" [value]="persona">
                          <span>{{ persona.nombreCompleto }}</span>
                        </mat-option>
                      </ng-container>
                    </mat-autocomplete>
                  </div>
                  <div class="example-button-row">
                    <button color="primary" mat-raised-button (click) = agregarPersona() [disabled]="activo2">
                      Agregar
                    </button>
                  </div>
                </section>
              </form>
            </div>


            <div class="mat-elevation-z4" >

              <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
            
                
                <ng-container matColumnDef="nombreCompleto" >
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 65%"> NOMBRE </th>
                  <td mat-cell *matCellDef="let per" class="columna-margen-izquierdo">
                    {{per.nombreCompleto}}</td>
                </ng-container>


                <ng-container matColumnDef="identificacion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style=" width: 25%"> IDENTIFICACIÓN </th>
                  <td mat-cell *matCellDef="let per" class="columna-centrada"> 
                    {{per.identificacion}} </td>
                </ng-container>

                <ng-container matColumnDef="accion">
                  <th mat-header-cell *matHeaderCellDef  class="columna-centrada" style="width: 10%"> ACCIÓN </th>
                  <td mat-cell *matCellDef="let per; let i = index;" class="columna-centrada"> 
                    <button mat-icon-button color="primary" (click)="eliminarPersona(i)" matTooltip="Eliminar balotario">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
            
                         
                <tr mat-header-row *matHeaderRowDef="columnas2" class = "mat-header-row-formato"></tr>
                <tr mat-row  *matRowDef="let row; columns: columnas2"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
                
             </div>
          </mat-card-content>
          <mat-card-actions>
            
          </mat-card-actions>
        </mat-card>
        

        <mat-card class="example-card mat-card" >
          <mat-card-header> 
            <mat-card-title>Temas</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="mat-elevation-z4" >

              <table mat-table [dataSource]="dataSource2" matSort matSortStart="desc">
              
            
                <ng-container matColumnDef="descripcion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 74%" >  DESCRIPCIÓN </th>
                  <td mat-cell *matCellDef="let per" class="columna-margen-izquierdo texto-mayuscula">  {{per.descripcion}}</td>
                  <td mat-footer-cell *matFooterCellDef class="columna-centrada"><b>Total</b>  </td>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                  <th mat-header-cell *matHeaderCellDef style="width: 10%" >CANTIDAD</th>
                  <td mat-cell *matCellDef="let per" class="columna-centrada" >
                    <input matInput type="number" style="border: 1.8px solid #154f7d; width: 46%; font-weight: 400;"   maxlength="2"
                     (click)="cantidadTotalActualizar()"   (keyup)="keyup($event.target.value)"  onKeyPress="if(this.value.length==2) return false;"
                    [value] = "cantidadPreguntaTipeada"  [(ngModel)]="per.cantidad"
                    min="0" max="20" formcontrolname="value" [ngModelOptions]="{standalone: true}"
                    [disabled]="activo3" >
                    <span matSuffix></span>
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="columna-centrada"><b>{{ cantidadTotalPreguntas }}</b>  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="columnas3" class = "mat-header-row-formato"></tr>
                <tr mat-row  *matRowDef="let row; columns: columnas3"></tr>
                <tr mat-footer-row *matFooterRowDef="columnas3; sticky: true">
          
              </table>
              <mat-paginator [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
            
            </div>
          </mat-card-content>
          <mat-card-actions>
            
          </mat-card-actions>
        </mat-card>

        
        
      </div>
    </div>
   
  </div>
  <div align="right" class="example-button-row">
    <button color="primary" mat-raised-button (click) = grabarBalotario() [disabled]="activo2">
      {{textoButton}}
    </button>

    <button color="warn" mat-raised-button (click)="cerrarFormulario()">
      Salir
    </button>
  </div>

</div>
