:host {
  @import '../src/@shared/scss/style_util.scss';

  ::ng-deep .mat-sort-header-button {
    margin: auto !important;
  }


  .mat-card_tema {
    padding: 4px;
  }

  .mat-card {

    padding: 4px;
    
  }
  
    .example-card {
        max-width: 800px;
      }
      
    .example-container .mat-form-field + .mat-form-field {
        margin-left: 8px;
      }

    .cabecera {
      display: flex;
      justify-content: space-between;
    }
    
    .contenido-formulario {
      padding: 20px;
      display: flex;
      flex-direction: column;
  
      .columna {
        display: flex;
        flex-direction: row;
  
        mat-form-field {
          flex: 1;
  
          &:first-of-type {
            margin-right: 10px;
          }
        }
  
      }
    }

  
    .mat-dialog-actions {
      margin-bottom: 0;
      padding: 20px;
    }
  
    input[type="file"] {
      display: none;
    }

    .bandeja {
      position: relative;
      margin-top: 10px;
      padding: 16px;
  
      .nuevo-intrv {
        position: absolute;
        top: -28px;
      }
  
      table {
        width: 100%;
  
        td.mat-column-desde mat-icon {
          font-size: 20px;
        }

        th.mat-header-cell {
          text-transform: uppercase;
          color: black;
          font-size: 13px !important;
          font-weight: 600 !important;
          text-align: center;
          border: 1px solid #CCC;
          margin: auto;
        } 

        td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
          padding: 0;
          border-bottom-width: 2px;
          border-bottom-style: solid;
        }

        .mat-header-cell {
          font-size: 12px;
          font-weight: 600;
        }
        tbody{
              text-align: center;
        }

  
        td.mat-column-modulos .contenido {
          display: flex;
          flex-direction: row;
          align-items: center;
  
          .dest-ori {
            width: 21px;
            text-align: center;
          }
  
          .contenido-modulos {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
    
            .modulo {
              display: flex;
              flex-direction: row;
              align-items: center;
            }
          }
        }
  
        td.mat-column-usuarioAtendido {
          font-size: 25px;
        }
  
        th.mat-column-estado {
          text-align: center;
        }
  
        td.mat-column-estado > .estado {
          padding: 5px;
          margin: 0 10px;
          text-align: center;
          width: 90px;
          color: #FFFFFF !important;
          font-weight: 500;
          border-radius: 3px;
          font-size: 11px;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
          cursor: pointer;
  
          &.small {
            width: 40px !important;
          }
  
          &.disabled {
            pointer-events: none;
          }
        }
  
        .mat-column-acciones, .mat-column-desde {
          text-align: center;
          width: auto;
  
          button {
            margin: 0 2px;
          }
        }
      }
    }



.mat-toolbar-row, .mat-toolbar-single-row {
  height: 54px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 12px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}


.formulario-margin {
  margin-top: 10px;
  padding: 10px;
}

.paginacion-right{
  display: inline !important;
}

.div-tabla-programacion{
  position: relative; 
  margin-top: 10px;
}

.div-tabla-insumo{
  position: relative; 
  margin-top: 4px;
}

.empty {
  padding: 20px;
  text-align: center;
  position: sticky;
  bottom: 0px;
  left: 0px;
  font-size: 0.8em;
  font-weight: 500;
  color: #005e82;
  }


  .cabecera {
    display: flex;
    justify-content: space-between;
  }
  
  .contenido-formulario {
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;

    .columna {
      display: flex;
      flex-direction: row;
   
      mat-form-field {
        flex: 1;
        margin-right: 10px;
        &:first-of-type {
          margin-right: 10px;
        }
      }

      &.archivos {
        flex-wrap: wrap;

        mat-card {
          cursor: pointer;
          margin: 0 10px 10px 0;

          mat-icon {
            margin: 0;
          }
        }
      }
    }
  }

  .mat-dialog-actions {
    margin-bottom: 0;
    padding: 20px;
  }

  input[type="file"] {
    display: none;
  }

 

.tableIconButton {
  color:#8d2121;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  &:hover {
    color: #dc400f;
  }
}

/*
.table-container tr:hover .tableIconButton {
  color: #ffffff;
}
*/

.mat-cell .tableIconButton {
background-color: #c13616;
color:  #ffffff;
  &:hover {
    cursor: pointer;
    background: #8d2121;

  }
}


.btn-success, .btn-success:active, .btn-success:focus {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;

}
.btn-success {
  color: #fff;
  background-color: #299629; 
   border-color: #299629 !important; 
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
 line-height: 1.42857143; 
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.material-icons-add {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;
line-height: 1;
letter-spacing: normal;
text-transform: none;
display: inline-block;
white-space: nowrap;
word-wrap: normal;
direction: ltr;
/* -webkit-font-feature-settings: 'liga'; */
-webkit-font-smoothing: antialiased;
}
.empty {
padding: 20px;
text-align: center;
position: sticky;
bottom: 0px;
left: 0px;
font-size: 0.8em;
font-weight: 500;
color: #005e82;
}

.bandeja {
position: relative;
margin-top: 10px;
padding: 16px;

.nuevo-intrv {
  position: absolute;
  top: -28px;
}

table {
  width: 100%;

  td.mat-column-desde mat-icon {
    font-size: 20px;
  }

  td.mat-column-modulos .contenido {
    display: flex;
    flex-direction: row;
    align-items: center;

    .dest-ori {
      width: 21px;
      text-align: center;
    }

    .contenido-modulos {
      display: flex;
      flex-direction: column;
      padding: 0 10px;

      .modulo {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  td.mat-column-usuarioAtendido {
    font-size: 25px;
  }

  th.mat-column-estado {
    text-align: center;
  }

  td.mat-column-estado > .estado {
    padding: 5px;
    margin: 0 10px;
    text-align: center;
    width: 90px;
    color: #FFFFFF !important;
    font-weight: 500;
    border-radius: 3px;
    font-size: 11px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &.small {
      width: 40px !important;
    }

    &.disabled {
      pointer-events: none;
    }
  }

  .mat-column-acciones, .mat-column-desde {
    width: auto;

    button {
      margin: 0 10px;
    }
  }
}
}

.tamanio-seleccionar{
  font-size: 14px;
  }

  .btn-file {
      background: #02699b !important;
      margin-left: 10px;
      position: relative;
      overflow: hidden;
      color: white;
    }
    .btn-file input[type=file] {
      padding-left: 10px;
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: #0a3064 !important;
      cursor: inherit;
      display: block;
    }

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0.34375em;
    }


    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.9em 0 0.6em 0;
    }

    span {
      color: rgb(167, 29, 29);
    }


    ::ng-deep .mat-form-field-flex-01 {
      background-color: #aeb3b3;
     }

     section {
      display: table;
      margin: 8px;
    }
    
    .example-label {
      display: table-cell;
      font-size: 14px;
      margin-left: 8px;
      width: 120px;
    }
    
    .example-button-row {
      display: table-cell;
    }
    
    .example-button-row button {
      display: table-cell;
      margin-right: 8px;
    }
    
    .example-flex-container {
      display: flex;
      justify-content: space-between;
      width: 480px;
    }
    
    .example-button-container {
      display: flex;
      justify-content: center;
      width: 120px;
    }

    .columna-centrada{
      text-align: center;
    }

    .columna-margen-izquierdo{
      padding-left: 5px !important;
    }

    .texto-mayuscula{
      text-transform: uppercase;
    }
    
  }

  
  