

<!-- BANDEJA -->
<h2><span>Listado de preguntas</span></h2>
<mat-card>
<mat-card-content>
<div class="container" [formGroup]="filtrosForm" >
  <div class="left">
   <span>{{cantPreguntasRespuestas}} &nbsp; Preguntas</span>
      </div>
  <div class="right">
    <mat-form-field appearance="outline" class="caja-top">
      <mat-label>Buscar pregunta</mat-label>
      <mat-icon matPrefix style="font-size: 180% !important; cursor: pointer; padding-right: 10px;" matTooltip="Buscar persona">search</mat-icon>
      <input matInput (keyup)="onKeyup()" formControlName="codDocFrmCtrl" class="caja-size" [(ngModel)]="txtBuscar">
    </mat-form-field>
           
  </div>
  <div class="center">
    <button mat-raised-button color="primary" (click) = "descargarPlantillaExcel()" matTooltip="Carga masiva por excel" > 
      <mat-icon  >question_answer</mat-icon><span class= "espacio-icon-label">Carga masiva</span>
     
    </button>
    &nbsp; &nbsp; 
    <button mat-raised-button color="primary" matTooltip="Agregar persona" (click) = "agregarPregunta()"><mat-icon  >note_add</mat-icon><span class= "espacio-icon-label">Agregar pregunta</span>
      
    </button> 
      </div>
  </div>
  </mat-card-content>
</mat-card>

    <div class="bandeja mat-elevation-z4" >

      <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
    
    
        <ng-container matColumnDef="descPregunta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PREGUNTA </th>
          <td mat-cell *matCellDef="let data"  style="width: 60%;">{{data.descPregunta}} </td>
        </ng-container>
    
        <ng-container matColumnDef="descTema">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TEMA</th>
          <td mat-cell *matCellDef="let data" style="width: 20%;"> {{data.descTema}} </td>
        </ng-container>
    
        <ng-container matColumnDef="descEstado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
          <td mat-cell *matCellDef="let data"style="width: 20%;"> {{data.descEstado}} </td>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef >Editar</th>
          <td mat-cell *matCellDef="let data"  style="width: 4%; text-align: center;">
    
            <button mat-icon-button color="primary" (click)="editarPregunta(data.codPregunta)" matTooltip="Editar persona">
                <mat-icon>edit</mat-icon>
            </button>
    
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columnas" class = "mat-header-row-formato"></tr>
        <tr mat-row  *matRowDef="let row; columns: columnas"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
        
      <!--
        <div class="empty" *ngIf="!isLoading && dataSource === null">
            No existe datos para mostrar en la tabla
        </div>
        -->
          <!---
        <mat-toolbar>
          <mat-toolbar-row class="paginacion-right mat-toolbar-fondo">
            <div *ngIf="dataSource !== null" style="float: left !important;">
              <mat-icon svgIcon="excel-pais" (click)="descargarExcel($event)" class="excel-icon-top"  matTooltip="Descargar Excel"></mat-icon>
              <span class="example-spacer"></span>   
            </div>
            <div>
                <mat-paginator 
                [length]="total" 
                [pageIndex]="pagina - 1" 
                [pageSize]="cantidad" 
                [showFirstLastButtons]="true"
                [pageSizeOptions]="[15, 30, 50]" 
                (page)="cambiarPagina($event)">
                </mat-paginator>
    
            </div>
          </mat-toolbar-row>
        </mat-toolbar> 
      -->
    </div>


<!-- BANDEJA -->



