

<!-- BANDEJA -->
<mat-card>
<div class="container" style="text-align:left;margin-bottom: 10px;" >
    <button mat-raised-button color="primary"  matTooltip="Filtrar Resultados" (click) = "filtrarResultados()"> 
      <mat-icon  >filter_alt</mat-icon><span class= "espacio-icon-label">Filtrar Resultados</span>   
    </button>
 
</div>
<b style="font-size: 20px;">Monitoreo: </b> <label style="font-weight: 400;"> &nbsp; {{nombreBalotario}} </label>
<div class="bandeja mat-elevation-z4" >

  <mat-tab-group mat-align-tabs="start"style="height: 100%; min-height: 100% ; min-width: 100%; width: 100%; margin: 0px;">
    <mat-tab label="Cargo"  >    
      <mat-grid-list cols="12" rowHeight="2:1">
        <mat-grid-tile  colspan="4"
        rowspan="1" ><h4 ><span>PORCENTAJE DE AVANCE</span></h4></mat-grid-tile>
        <mat-grid-tile  colspan="1"
        rowspan="1" ></mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" ><mat-icon class="green-icon">fiber_manual_record</mat-icon><h5 ><span>Realizadas</span></h5></mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" ><mat-icon color="warn">fiber_manual_record</mat-icon><h5 ><span>Por comenzar</span></h5></mat-grid-tile>
        <mat-grid-tile  colspan="3"
        rowspan="1" ><h5 ><span>Fecha de cierre</span></h5></mat-grid-tile>

        <mat-grid-tile  colspan="4"
        rowspan="1" > <div class="left-barra">
          <mat-progress-bar mode="determinate" [value]="valorInicial"></mat-progress-bar>
       
          <div class = "barra-verde"  [ngStyle]="{'left.%': barra_verde}"> <b *ngIf="cienPorcientoVerde">{{totalVerde}}%</b></div>
          <span class = "barra-rojo" [ngStyle]="{'left': barra_rojo + '%'}"> &nbsp;&nbsp;<b *ngIf="cienPorcientoRojo">{{totalRojo}}%</b></span>
        </div>
     </mat-grid-tile>
        <mat-grid-tile  colspan="1"
        rowspan="1" >{{cantCargo}}</mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" >{{realizada}}</mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" >{{porComenzar}}</mat-grid-tile>
        <mat-grid-tile  colspan="3"
        rowspan="1" >{{fechaCierre}}</mat-grid-tile>
      </mat-grid-list>

      <div class="container" [formGroup]="filtrosForm" >
        <div class="left">
        
         <span>{{cantidadCargos}} Cargos</span>
        </div>
        <div class="right">
          <mat-form-field appearance="outline" >
            <mat-label>Buscar</mat-label>
            <mat-icon matPrefix style="font-size: 180% !important; cursor: pointer; padding-right: 10px;" matTooltip="Buscar persona">search</mat-icon>
            <input matInput class="caja-size" (keyup)="applyFilterTabCargo($event.target.value)" formControlName="buscarFrm">
          </mat-form-field>       
        </div>
     
      </div>
    
    
            <table mat-table  [dataSource]="dataSourceCargoTabla" matSort #cargoSort="matSort" matSortStart="desc" >
  
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CARGO </th>
                <td mat-cell *matCellDef="let data"  style="width: 30%;"> {{data.descripcion}} </td>
              </ng-container>
          
              <ng-container matColumnDef="totalBalotario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> BALOTARIOS</th>
                <td mat-cell *matCellDef="let data" style="width: 10%;"> {{data.totalBalotario}} </td>
              </ng-container>
          
              <ng-container matColumnDef="avance">
                <th mat-header-cell *matHeaderCellDef >AVANCE</th>
                <td mat-cell *matCellDef="let data"style="width: 60%;">
                  <div *ngIf="data.barraCaso1">
                  <div class="barra-formato-grilla">
                    <mat-progress-bar  class=".mat-progress-bar-grilla-verde" mode="determinate" [value]="data.valorInicialGrilla"></mat-progress-bar>
                  
                   <div class ="barra-verde-grilla"  [ngStyle]="{'left.%': data.barra_verdeGrilla}"> 100%</div>
                    <span class = "barra-verde-grilla" [ngStyle]="{'left': data.barra_rojoGrilla + '%'}"> &nbsp;&nbsp; </span>
                  </div>
                  <b style="margin-left: 10px;">{{data.totalRealizada}} de {{data.totalBalotario}} Realizadas</b>
                  </div>

                  <div *ngIf="data.barraCaso2">
                    <div class="barra-formato-grilla">
                      <mat-progress-bar  class="mat-progress-bar-grilla" mode="determinate" [value]="data.valorInicialGrilla"></mat-progress-bar>
                    
                     <div class ="barra-rojo-grilla"  [ngStyle]="{'left.%': data.barra_verdeGrilla}">100% </div>
                      <span class = "barra-rojo-grilla" [ngStyle]="{'left': data.barra_rojoGrilla + '%'}"> &nbsp;&nbsp; </span>
                    </div>
                    <b style="margin-left: 10px;">{{data.totalRealizada}} de {{data.totalBalotario}} Realizadas</b>
                  </div>

                  <div *ngIf="data.barraCaso3">
                  <div class="barra-formato-grilla">
                    <mat-progress-bar  class="mat-progress-bar-grilla" mode="determinate" [value]="data.valorInicialGrilla"></mat-progress-bar>
          
                   <div class = "barra-amarillo-grilla"  [ngStyle]="{'left.%': data.barra_verdeGrilla}"> {{data.totalVerdeGrilla}}%</div>
                    <span class = "barra-rojo-grilla" [ngStyle]="{'left': data.barra_rojoGrilla + '%'}"> &nbsp;&nbsp;{{data.totalRojoGrilla}}%</span>
                  </div>
                  <b style="margin-left: 10px;">{{data.totalRealizada}} de {{data.totalBalotario}} Realizadas</b>
                  </div>

                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="columnasMonitoreo" class = "mat-header-row-formato"></tr>
              <tr mat-row  *matRowDef="let row; columns: columnasMonitoreo"></tr>
            </table>
          
            <mat-paginator #paginatorCargo [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
         

   

    </mat-tab>

    <mat-tab label="Categoría">
      <mat-grid-list cols="12" rowHeight="2:1">
        <mat-grid-tile  colspan="4"
        rowspan="1" ><h4 ><span>PORCENTAJE DE AVANCE</span></h4></mat-grid-tile>
        <mat-grid-tile  colspan="1"
        rowspan="1" ></mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" ><mat-icon class="green-icon">fiber_manual_record</mat-icon><h5 ><span>Realizadas</span></h5></mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" ><mat-icon color="warn">fiber_manual_record</mat-icon><h5 ><span>Por comenzar</span></h5></mat-grid-tile>
        <mat-grid-tile  colspan="3"
        rowspan="1" ><h5 ><span>Fecha de cierre</span></h5></mat-grid-tile>

        <mat-grid-tile  colspan="4"
        rowspan="1" > <div class="left-barra">
          <mat-progress-bar mode="determinate" [value]="valorInicialCat"></mat-progress-bar>
       
          <div class = "barra-verde"  [ngStyle]="{'left.%': barra_verdeCat}"> <b *ngIf="cienPorcientoVerdeCat">{{totalVerdeCat}}%</b></div>
          <span class = "barra-rojo" [ngStyle]="{'left': barra_rojoCat + '%'}"> &nbsp;&nbsp;<b *ngIf="cienPorcientoRojoCat">{{totalRojoCat}}%</b></span>
        </div>
     </mat-grid-tile>
        <mat-grid-tile  colspan="1"
        rowspan="1" >{{cantCategoria}}</mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" >{{realizadaCategoria}}</mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" >{{porComenzarCategoria}}</mat-grid-tile>
        <mat-grid-tile  colspan="3"
        rowspan="1" >{{fechaCierreCategoria}}</mat-grid-tile>
      </mat-grid-list>

      <div class="container" [formGroup]="filtrosForm" >
        <div class="left">
        
         <span>{{cantCategoria}} Categorias</span>
        </div>
        <div class="right">
          <mat-form-field appearance="outline" >
            <mat-label>Buscar</mat-label>
            <mat-icon matPrefix style="font-size: 180% !important; cursor: pointer; padding-right: 10px;" matTooltip="Buscar persona">search</mat-icon>
            <input matInput class="caja-size" (keyup)="applyFilterTabCategoria($event.target.value)" formControlName="buscarFrm">
          </mat-form-field>       
        </div>
     
      </div>
    
     
  
 
      
            <table mat-table [dataSource]="dataSourceCategoriaTabla" #categoriaSort="matSort" matSort matSortStart="desc">
  
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CATEGORÍA </th>
                <td mat-cell *matCellDef="let data"  style="width: 30%;"> {{data.descripcion}} </td>
              </ng-container>
          
              <ng-container matColumnDef="totalBalotario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> BALOTARIOS</th>
                <td mat-cell *matCellDef="let data" style="width: 10%;"> {{data.totalBalotario}} </td>
              </ng-container>
          
              <ng-container matColumnDef="avance">
                <th mat-header-cell *matHeaderCellDef>AVANCE</th>
                <td mat-cell *matCellDef="let data"style="width: 60%;">
                  <div *ngIf="data.barraCaso1">
                  <div class="barra-formato-grilla">
                    <mat-progress-bar  class=".mat-progress-bar-grilla-verde" mode="determinate" [value]="data.valorInicialGrilla"></mat-progress-bar>
                  
                   <div class ="barra-verde-grilla"  [ngStyle]="{'left.%': data.barra_verdeGrilla}"> 100%</div>
                    <span class = "barra-verde-grilla" [ngStyle]="{'left': data.barra_rojoGrilla + '%'}"> &nbsp;&nbsp; </span>
                  </div>
                  <b style="margin-left: 10px;">{{data.totalRealizada}} de {{data.totalBalotario}} Realizadas</b>
                  </div>

                  <div *ngIf="data.barraCaso2">
                    <div class="barra-formato-grilla">
                      <mat-progress-bar  class="mat-progress-bar-grilla" mode="determinate" [value]="data.valorInicialGrilla"></mat-progress-bar>
                    
                     <div class ="barra-rojo-grilla"  [ngStyle]="{'left.%': data.barra_verdeGrilla}">100% </div>
                      <span class = "barra-rojo-grilla" [ngStyle]="{'left': data.barra_rojoGrilla + '%'}"> &nbsp;&nbsp; </span>
                    </div>
                    <b style="margin-left: 10px;">{{data.totalRealizada}} de {{data.totalBalotario}} Realizadas</b>
                  </div>

                  <div *ngIf="data.barraCaso3">
                  <div class="barra-formato-grilla">
                    <mat-progress-bar  class="mat-progress-bar-grilla" mode="determinate" [value]="data.valorInicialGrilla"></mat-progress-bar>
          
                   <div class = "barra-amarillo-grilla"  [ngStyle]="{'left.%': data.barra_verdeGrilla}"> {{data.totalVerdeGrilla}}%</div>
                    <span class = "barra-rojo-grilla" [ngStyle]="{'left': data.barra_rojoGrilla + '%'}"> &nbsp;&nbsp;{{data.totalRojoGrilla}}%</span>
                  </div>
                  <b style="margin-left: 10px;">{{data.totalRealizada}} de {{data.totalBalotario}} Realizadas</b>
                  </div>

                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="columnasMonitoreo" class = "mat-header-row-formato"></tr>
              <tr mat-row  *matRowDef="let row; columns: columnasMonitoreo"></tr>
            </table>
          
            <mat-paginator #paginatorCategoria [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
         

   
    </mat-tab>

    <mat-tab label="Área">
      <mat-grid-list cols="12" rowHeight="2:1">
        <mat-grid-tile  colspan="4"
        rowspan="1" ><h4 ><span>PORCENTAJE DE AVANCE</span></h4></mat-grid-tile>
        <mat-grid-tile  colspan="1"
        rowspan="1" ></mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" ><mat-icon class="green-icon">fiber_manual_record</mat-icon><h5 ><span>Realizadas</span></h5></mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" ><mat-icon color="warn">fiber_manual_record</mat-icon><h5 ><span>Por comenzar</span></h5></mat-grid-tile>
        <mat-grid-tile  colspan="3"
        rowspan="1" ><h5 ><span>Fecha de cierre</span></h5></mat-grid-tile>

        <mat-grid-tile  colspan="4"
        rowspan="1" > <div class="left-barra">
          <mat-progress-bar mode="determinate" [value]="valorInicialArea"></mat-progress-bar>
       
          <div class = "barra-verde"  [ngStyle]="{'left.%': barra_verdeArea}"> <b *ngIf="cienPorcientoVerdeArea">{{totalVerdeArea}}%</b></div>
          <span class = "barra-rojo" [ngStyle]="{'left': barra_rojoArea + '%'}"> &nbsp;&nbsp;<b *ngIf="cienPorcientoRojoArea">{{totalRojoArea}}%</b></span>
        </div>
     </mat-grid-tile>
        <mat-grid-tile  colspan="1"
        rowspan="1" >{{cantArea}}</mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" >{{realizadaArea}}</mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" >{{porComenzarArea}}</mat-grid-tile>
        <mat-grid-tile  colspan="3"
        rowspan="1" >{{fechaCierreArea}}</mat-grid-tile>
      </mat-grid-list>

      <div class="container" [formGroup]="filtrosForm" >
        <div class="left">
        
         <span>{{cantArea}} Áreas</span>
        </div>
        <div class="right">
          <mat-form-field appearance="outline" >
            <mat-label>Buscar</mat-label>
            <mat-icon matPrefix style="font-size: 180% !important; cursor: pointer; padding-right: 10px;" matTooltip="Buscar persona">search</mat-icon>
            <input matInput class="caja-size" (keyup)="applyFilterTabArea($event.target.value)" formControlName="buscarFrm">
          </mat-form-field>       
        </div>
     
      </div>
    
     
  
 
      
            <table mat-table [dataSource]="dataSourceAreaTabla" #areaSort="matSort" matSort matSortStart="desc">
  
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ÁREA </th>
                <td mat-cell *matCellDef="let data"  style="width: 30%;"> {{data.descripcion}} </td>
              </ng-container>
          
              <ng-container matColumnDef="totalBalotario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> BALOTARIOS</th>
                <td mat-cell *matCellDef="let data" style="width: 10%;"> {{data.totalBalotario}} </td>
              </ng-container>
          
              <ng-container matColumnDef="avance">
                <th mat-header-cell *matHeaderCellDef>AVANCE</th>
                <td mat-cell *matCellDef="let data"style="width: 60%;">
                  <div *ngIf="data.barraCaso1">
                  <div class="barra-formato-grilla">
                    <mat-progress-bar  class=".mat-progress-bar-grilla-verde" mode="determinate" [value]="data.valorInicialGrilla"></mat-progress-bar>
                  
                   <div class ="barra-verde-grilla"  [ngStyle]="{'left.%': data.barra_verdeGrilla}"> 100%</div>
                    <span class = "barra-verde-grilla" [ngStyle]="{'left': data.barra_rojoGrilla + '%'}"> &nbsp;&nbsp; </span>
                  </div>
                  <b style="margin-left: 10px;">{{data.totalRealizada}} de {{data.totalBalotario}} Realizadas</b>
                  </div>

                  <div *ngIf="data.barraCaso2">
                    <div class="barra-formato-grilla">
                      <mat-progress-bar  class="mat-progress-bar-grilla" mode="determinate" [value]="data.valorInicialGrilla"></mat-progress-bar>
                    
                     <div class ="barra-rojo-grilla"  [ngStyle]="{'left.%': data.barra_verdeGrilla}">100% </div>
                      <span class = "barra-rojo-grilla" [ngStyle]="{'left': data.barra_rojoGrilla + '%'}"> &nbsp;&nbsp; </span>
                    </div>
                    <b style="margin-left: 10px;">{{data.totalRealizada}} de {{data.totalBalotario}} Realizadas</b>
                  </div>

                  <div *ngIf="data.barraCaso3">
                  <div class="barra-formato-grilla">
                    <mat-progress-bar  class="mat-progress-bar-grilla" mode="determinate" [value]="data.valorInicialGrilla"></mat-progress-bar>
          
                   <div class = "barra-amarillo-grilla"  [ngStyle]="{'left.%': data.barra_verdeGrilla}"> {{data.totalVerdeGrilla}}%</div>
                    <span class = "barra-rojo-grilla" [ngStyle]="{'left': data.barra_rojoGrilla + '%'}"> &nbsp;&nbsp;{{data.totalRojoGrilla}}%</span>
                  </div>
                  <b style="margin-left: 10px;">{{data.totalRealizada}} de {{data.totalBalotario}} Realizadas</b>
                  </div>

                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="columnasMonitoreo" class = "mat-header-row-formato"></tr>
              <tr mat-row  *matRowDef="let row; columns: columnasMonitoreo"></tr>
            </table>
          
            <mat-paginator #paginatorArea [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
         

   
    </mat-tab>

    <mat-tab label="Local">
      <mat-grid-list cols="12" rowHeight="2:1">
        <mat-grid-tile  colspan="4"
        rowspan="1" ><h4 ><span>PORCENTAJE DE AVANCE</span></h4></mat-grid-tile>
        <mat-grid-tile  colspan="1"
        rowspan="1" ></mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" ><mat-icon class="green-icon">fiber_manual_record</mat-icon><h5 ><span>Realizadas</span></h5></mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" ><mat-icon color="warn">fiber_manual_record</mat-icon><h5 ><span>Por comenzar</span></h5></mat-grid-tile>
        <mat-grid-tile  colspan="3"
        rowspan="1" ><h5 ><span>Fecha de cierre</span></h5></mat-grid-tile>

        <mat-grid-tile  colspan="4"
        rowspan="1" > <div class="left-barra">
          <mat-progress-bar mode="determinate" [value]="valorInicialLocal"></mat-progress-bar>
       
          <div class = "barra-verde"  [ngStyle]="{'left.%': barra_verdeLocal}"> <b *ngIf="cienPorcientoVerdeLocal">{{totalVerdeLocal}}%</b></div>
          <span class = "barra-rojo" [ngStyle]="{'left': barra_rojoLocal + '%'}"> &nbsp;&nbsp;<b *ngIf="cienPorcientoRojoLocal">{{totalRojoLocal}}%</b></span>
        </div>
     </mat-grid-tile>
        <mat-grid-tile  colspan="1"
        rowspan="1" >{{cantLocal}}</mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" >{{realizadaLocal}}</mat-grid-tile>
        <mat-grid-tile  colspan="2"
        rowspan="1" >{{porComenzarLocal}}</mat-grid-tile>
        <mat-grid-tile  colspan="3"
        rowspan="1" >{{fechaCierreLocal}}</mat-grid-tile>
      </mat-grid-list>

      <div class="container" [formGroup]="filtrosForm" >
        <div class="left">
        
         <span>{{cantLocal}} Locales</span>
        </div>
        <div class="right">
          <mat-form-field appearance="outline" >
            <mat-label>Buscar</mat-label>
            <mat-icon matPrefix style="font-size: 180% !important; cursor: pointer; padding-right: 10px;" matTooltip="Buscar persona">search</mat-icon>
            <input matInput class="caja-size" (keyup)="applyFilterTabLocal($event.target.value)" formControlName="buscarFrm">
          </mat-form-field>       
        </div>
     
      </div>
    
     
  
 
      
            <table mat-table [dataSource]="dataSourceLocalTabla"  #localSort="matSort" matSort matSortStart="desc">
  
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LOCAL </th>
                <td mat-cell *matCellDef="let data"  style="width: 30%;"> {{data.descripcion}} </td>
              </ng-container>
          
              <ng-container matColumnDef="totalBalotario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> BALOTARIOS</th>
                <td mat-cell *matCellDef="let data" style="width: 10%;"> {{data.totalBalotario}} </td>
              </ng-container>
          
              <ng-container matColumnDef="avance">
                <th mat-header-cell *matHeaderCellDef>AVANCE</th>
                <td mat-cell *matCellDef="let data"style="width: 60%;">
                  <div *ngIf="data.barraCaso1">
                  <div class="barra-formato-grilla">
                    <mat-progress-bar  class=".mat-progress-bar-grilla-verde" mode="determinate" [value]="data.valorInicialGrilla"></mat-progress-bar>
                  
                   <div class ="barra-verde-grilla"  [ngStyle]="{'left.%': data.barra_verdeGrilla}"> 100%</div>
                    <span class = "barra-verde-grilla" [ngStyle]="{'left': data.barra_rojoGrilla + '%'}"> &nbsp;&nbsp; </span>
                  </div>
                  <b style="margin-left: 10px;">{{data.totalRealizada}} de {{data.totalBalotario}} Realizadas</b>
                  </div>

                  <div *ngIf="data.barraCaso2">
                    <div class="barra-formato-grilla">
                      <mat-progress-bar  class="mat-progress-bar-grilla" mode="determinate" [value]="data.valorInicialGrilla"></mat-progress-bar>
                    
                     <div class ="barra-rojo-grilla"  [ngStyle]="{'left.%': data.barra_verdeGrilla}">100% </div>
                      <span class = "barra-rojo-grilla" [ngStyle]="{'left': data.barra_rojoGrilla + '%'}"> &nbsp;&nbsp; </span>
                    </div>
                    <b style="margin-left: 10px;">{{data.totalRealizada}} de {{data.totalBalotario}} Realizadas</b>
                  </div>

                  <div *ngIf="data.barraCaso3">
                  <div class="barra-formato-grilla">
                    <mat-progress-bar  class="mat-progress-bar-grilla" mode="determinate" [value]="data.valorInicialGrilla"></mat-progress-bar>
          
                   <div class = "barra-amarillo-grilla"  [ngStyle]="{'left.%': data.barra_verdeGrilla}"> {{data.totalVerdeGrilla}}%</div>
                    <span class = "barra-rojo-grilla" [ngStyle]="{'left': data.barra_rojoGrilla + '%'}"> &nbsp;&nbsp;{{data.totalRojoGrilla}}%</span>
                  </div>
                  <b style="margin-left: 10px;">{{data.totalRealizada}} de {{data.totalBalotario}} Realizadas</b>
                  </div>

                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="columnasMonitoreo" class = "mat-header-row-formato"></tr>
              <tr mat-row  *matRowDef="let row; columns: columnasMonitoreo"></tr>
            </table>
          
            <mat-paginator #paginatorLocal [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
         

   
    </mat-tab>

    <mat-tab label="Notas">
      <div class="bandeja">
      <div class="container" [formGroup]="notasForm"  >
        <div class="columna">
        <div class="left">
         <span>{{cantidadRegistrosNotas}} Registros</span>
            </div> 
        <div class="right">
          <mat-form-field appearance="outline" class="caja-top">
            <mat-label>Buscar</mat-label>
            <mat-icon matPrefix style="font-size: 180% !important; cursor: pointer; padding-right: 10px;" matTooltip="Buscar persona">search</mat-icon>
            <input matInput (keyup)="applyFilterTabNotas($event.target.value)" formControlName="buscarUsuarioNotasFrm" class="caja-size" >
          </mat-form-field>
                 
        </div>
      
        <div class="center">
          <button mat-raised-button color="primary" matTooltip="Ver preguntas" (click)="exportNotasXLXS()"> 
            <mat-icon  >cloud_download</mat-icon><span class= "espacio-icon-label">Descargar Resultados en excel</span>
           
          </button>
        
      
        </div>
      </div>
        </div>
       
        <table mat-table [dataSource]="dataSourceNota" #notaSort="matSort" matSort  matSortStart="desc">

          <ng-container matColumnDef="tipoDocumento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO DOC. </th>
            <td mat-cell *matCellDef="let user"  style="width: 5%;"> {{user.tipoDocumento}} </td>
          </ng-container>
      
          <ng-container matColumnDef="identificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NUM. DOCUMENTO</th>
            <td mat-cell *matCellDef="let user" style="width: 10%;"> {{user.identificacion}} </td>
          </ng-container>
      
          <ng-container matColumnDef="nombreCompleto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRES</th>
            <td mat-cell *matCellDef="let user"style="width: 10%;"> {{user.nombreCompleto}} </td>
          </ng-container>

          
          <ng-container matColumnDef="intentos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NRO. INTENTO</th>
            <td mat-cell *matCellDef="let user"style="width: 10%;"> {{user.intentos}} </td>
          </ng-container>

          <ng-container matColumnDef="notas">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NOTA</th>
            <td mat-cell *matCellDef="let user"style="width: 10%;"> {{user.notas}} </td>
          </ng-container>

          <ng-container matColumnDef="desCargo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CARGO</th>
            <td mat-cell *matCellDef="let user"style="width: 10%;"> {{user.desCargo}} </td>
          </ng-container>

          <ng-container matColumnDef="desCategoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CATEGORÍA</th>
            <td mat-cell *matCellDef="let user"style="width: 10%;"> {{user.desCategoria}} </td>
          </ng-container>

          <ng-container matColumnDef="desArea">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ÁREA</th>
            <td mat-cell *matCellDef="let user"style="width: 10%;"> {{user.desArea}} </td>
          </ng-container>

          <ng-container matColumnDef="desLocal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LOCAL</th>
            <td mat-cell *matCellDef="let user"style="width: 10%;"> {{user.desLocal}} </td>
          </ng-container>

        
      
          <tr mat-header-row *matHeaderRowDef="columnasNotas" class = "mat-header-row-formato"></tr>
          <tr mat-row  *matRowDef="let row; columns: columnasNotas"></tr>
        </table>
        <mat-paginator #paginatorNotas [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </mat-tab>


    <mat-tab label="Detalle Evaluaciones">
      <div class="bandeja">
        <div class="container">
          <div class="columna">
            <div class="left">
              <span>{{cantidadRegistrosEvaluacions}} Registros</span>
                 </div>
          <div class="right">
            <mat-form-field appearance="outline" class="caja-top">
              <mat-label>Buscar</mat-label>
              <mat-icon matPrefix style="font-size: 180% !important; cursor: pointer; padding-right: 10px;" matTooltip="Buscar persona">search</mat-icon>
              <input matInput  (keyup)="applyFilterTabDetalleEvaluaciones($event.target.value)" class="caja-size" >
            </mat-form-field>
                   
          </div>
        
          <div class="center">
            <button mat-raised-button color="primary" matTooltip="Ver preguntas" (click)="exportarDetalleEvaluaciones()"> 
              <mat-icon  >cloud_download</mat-icon><span class= "espacio-icon-label">Descargar Resultados en excel</span>
             
            </button>
          
        
          </div>
        </div>
          </div>
         
         

       
        <table mat-table style="width: 300%;" [dataSource]="dataSourceDetalleEvaluaciones" #detallEvalSort="matSort" matSort matSortStart="desc">
  
          <ng-container matColumnDef="tipoDocumento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO DOC. </th>
            <td mat-cell *matCellDef="let eval"  style="width: 2%;"> {{eval.tipoDocumento}} </td>
          </ng-container>
      
          <ng-container matColumnDef="numDocumento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NUM. DOCUMENTO</th>
            <td mat-cell *matCellDef="let eval" style="width: 2%;"> {{eval.numDocumento}} </td>
          </ng-container>

          <ng-container matColumnDef="codTrabajador">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> COD. TRABAJADOR </th>
            <td mat-cell *matCellDef="let eval"  style="width: 2%;">{{eval.codTrabajador}}</td>
          </ng-container>
          
          <ng-container matColumnDef="nombreCompleto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRES</th>
            <td mat-cell *matCellDef="let eval"style="width: 8%;"> {{eval.nombreCompleto}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaNacimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>FEC. NACIMIENTO</th>
            <td mat-cell *matCellDef="let eval"style="width: 3%;"> {{eval.fechaNacimiento}}</td>
          </ng-container>

          <ng-container matColumnDef="edad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>EDAD</th>
            <td mat-cell *matCellDef="let eval"style="width: 2%;"> {{eval.edad}} </td>
          </ng-container>
          
          <ng-container matColumnDef="edadRangos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>EDAD RANGOS</th>
            <td mat-cell *matCellDef="let eval"style="width: 3%;"> {{eval.edadRangos}} </td>
          </ng-container>

        

          <ng-container matColumnDef="fechaIngreso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>FEC. INGRESO</th>
            <td mat-cell *matCellDef="let eval"style="width: 3%;"> {{eval.fechaIngreso}} </td>
          </ng-container>

          <ng-container matColumnDef="tsAnio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TS AÑO</th>
            <td mat-cell *matCellDef="let eval"style="width: 2%;">{{eval.tsAnio}}  </td>
          </ng-container>

          <ng-container matColumnDef="tsMes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TS MES</th>
            <td mat-cell *matCellDef="let eval"style="width: 2%;">{{eval.tsMes}}  </td>
          </ng-container>

          <ng-container matColumnDef="tsDias">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TS DIAS</th>
            <td mat-cell *matCellDef="let eval"style="width: 2%;"> {{eval.tsDias}} </td>
          </ng-container>

          <ng-container matColumnDef="tsRango">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TS RANGO</th>
            <td mat-cell *matCellDef="let eval"style="width: 2%;"> {{eval.tsRango}} </td>
          </ng-container>

          <ng-container matColumnDef="genero">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>GENERO</th>
            <td mat-cell *matCellDef="let eval"style="width: 3%;"> {{eval.genero}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaBalotario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA EVALUACIÓN</th>
            <td mat-cell *matCellDef="let eval"style="width: 3%;"> {{eval.fechaBalotario}} </td>
          </ng-container>

          <ng-container matColumnDef="descripcionBalotario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>EVALUACIÓN</th>
            <td mat-cell *matCellDef="let eval"style="width: 5%;"> {{eval.descripcionBalotario}} </td>
          </ng-container>

          <ng-container matColumnDef="desCargo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CARGO</th>
            <td mat-cell *matCellDef="let eval"style="width: 7%;"> {{eval.desCargo}} </td>
          </ng-container>
         
          <ng-container matColumnDef="desCategoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CATEGORÍA</th>
            <td mat-cell *matCellDef="let eval"style="width: 5%;"> {{eval.desCategoria}} </td>
          </ng-container>

          <ng-container matColumnDef="desArea">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ÁREA</th>
            <td mat-cell *matCellDef="let eval"style="width: 5%;"> {{eval.desArea}} </td>
          </ng-container>

          <ng-container matColumnDef="desLocal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LOCAL</th>
            <td mat-cell *matCellDef="let eval"style="width: 5%;"> {{eval.desLocal}} </td>
          </ng-container>

          <ng-container matColumnDef="intentos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NRO. INTENTO</th>
            <td mat-cell *matCellDef="let eval"style="width: 2%;"> {{eval.intentos}} </td>
          </ng-container>

          <ng-container matColumnDef="intentoValido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>INTENTO VALIDO</th>
            <td mat-cell *matCellDef="let eval"style="width: 2%;"> {{eval.intentoValido}} </td>
          </ng-container>

          <ng-container matColumnDef="tema">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TEMA</th>
            <td mat-cell *matCellDef="let eval"style="width: 5%;"> {{eval.tema}} </td>
          </ng-container>

          <ng-container matColumnDef="pregunta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PREGUNTA</th>
            <td mat-cell *matCellDef="let eval"style="width: 8%;"> {{eval.pregunta}} </td>
          </ng-container>

          <ng-container matColumnDef="respuesta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>RESPUESTA</th>
            <td mat-cell *matCellDef="let eval"style="width: 15%;"> {{eval.respuesta}} </td>
          </ng-container>
          
          <ng-container matColumnDef="fiCorrecta" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>C/I</th>
            <td mat-cell *matCellDef="let eval"style="width: 2%;"> {{eval.fiCorrecta}} </td>
          </ng-container>

      
          <tr mat-header-row *matHeaderRowDef="columnasDetalles" class = "mat-header-row-formato"></tr>
          <tr mat-row  *matRowDef="let row; columns: columnasDetalles"></tr>
        </table>
        <mat-paginator #paginatorDetalleEvaluaciones [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
    </mat-tab>

  </mat-tab-group>
  
  
</div>
</mat-card>






    

<!-- BANDEJA -->



