:host{


    .mat-tab-label {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }
    
    .mat-tab-label-active {
       color: #495057;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
    }
    
    .mat-ink-bar {
      display: none;
    }

}