:host {

  @import '../src/@shared/scss/style_general.scss';
  
  .container {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 20px;
  }
  
  .text {
    position: absolute;
    z-index: 1;
    font-size: 26px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
  }
  
  mat-progress-bar {
    position: absolute;
  }

  
.example-button-row button,
.example-button-row a {
  margin-right: 25px;
  border-radius: 8px;
  height:48px !important;
  width:150px !important;
  font-size:16px !important;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 2px -1px rgba(0,0,0,1), 
              0 1px 1px 0 rgba(0,0,0,1), 
              0 1px 3px 0 rgba(0,0,0,1);
}


#container{width:100%;}

#left{float:left;width:100px;}

#right{float:right; margin-top: 15px;}








}
@media (max-width: 7680px) {  
  .center {margin:0 auto;width:26%;}
  .app-spinner {
    width: 600px !important;
    height: 50px !important;
    background: #E4E8EB;
    border-radius: 10px;
    margin-top: -10px;
}

}


@media screen and (min-width: 200px) and (max-width: 600px) {   
  .center {margin:0 auto;width:60%;}
  .app-spinner {
    width: 150px !important;
    height: 50px !important;
    background: #E4E8EB;
    border-radius: 10px;
    margin-top: -10px;
}
}


@media screen and (min-width: 600px) and (max-width: 800px) {   
  .center {margin:0 auto;width:50%;}
  .app-spinner {
    width: 250px !important;
    height: 50px !important;
    background: #E4E8EB;
    border-radius: 10px;
    margin-top: -10px;
}
}


@media screen and (min-width: 800px) and (max-width: 1024px) {   
  .center {margin:0 auto;width:35%;}
  .app-spinner {
    width: 400px !important;
    height: 50px !important;
    background: #E4E8EB;
    border-radius: 10px;
    margin-top: -10px;
}
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {   
  .center {margin:0 auto;width:40%;}
  .app-spinner {
    width: 500px !important;
    height: 50px !important;
    background: #E4E8EB;
    border-radius: 10px;
    margin-top: -10px;
}
}


@media screen and (min-width: 1280px) and (max-width: 1440px) {  
  .center {margin:0 auto;width:30%;}
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {  
  .center {margin:0 auto;width:30%;}
}




