<mat-card>
    <div [hidden]="mostrarInicio">
        &nbsp; &nbsp; <img src="assets/images/Maxi.jpg" class="logo"> &nbsp; &nbsp; 
        <img src="assets/images/Mayorsa.jpg" class="logo">&nbsp; &nbsp; 
        <img src="assets/images/SMU.jpg" class="logo">    
    </div>
    <div class="container" [hidden]="mostrarInicio">
        <app-inicio *ngIf="!mostrarInicio" (muestraInicio)='iniciar($event)'></app-inicio>
    </div>

    <div [hidden]="!mostrarInicio" style="margin-bottom: -110px">
        <div class="container" >
            <app-pregunta [hidden]="calificacion" *ngIf="pregunta" [pregunta]="pregunta" [iteracion]="iteracion"
                (responde)='response($event)'>
            </app-pregunta>
        </div>
        <div class="container" style="top: -100px;">
            <app-calificacion [hidden]="!calificacion" *ngIf="calificacion" 
                [resultPorcentaje] = "resultPorcentaje" [resultCalificacion]="resultCalificacion" 
                [resultPreguntaCorrecta] = "resultPreguntaCorrecta" [resultPreguntaTotal]="resultPreguntaTotal"  [calAprobatoria] = "calAprobatoria"
                [cantidadIntento]="cantidadIntento" [numeroIntento]="numeroIntento" (intenta)='intentaNuevo($event)'
                (finaliza)='finalizaCuestionario($event)'></app-calificacion>
        </div>
        <div class="container" style="top:-120px">
            <div class="example-button-row">
                <!--<button *ngIf="!calificacion" mat-raised-button color="accent">
                    <mat-icon>close</mat-icon> CANCELAR
                </button>-->
                <button *ngIf="!calificacion" mat-raised-button color="accent" [disabled]="bloqueo"
                    (click)="continuar()">
                    CONTINUAR <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
      
        <div class="container" *ngIf = "mostrarProgreso" style="top:-150px">
            <div class="center">
            <span class="text">Pregunta {{numeroPregunta}} de {{totalPregunta}}</span>
            <mat-progress-bar class="app-spinner" mode="determinate" value="{{porcentaje}}"></mat-progress-bar>
        </div>
        <div id="right"> 
            <app-cronometro *ngIf="cronometro" [tiempo]="tiempo" (terminaTiempo)='terminarTiempo($event)'>
            </app-cronometro>
        </div>
        </div>

    </div>

</mat-card>