:host {

  &:not(.has-sidenav-open) {

    mat-card.header {
        padding: 0 10px;
    }

    span.header-title, .menu-item span, .icon-arrow {
        display: none;
    }
  }

  mat-card.header {
    color: hsla(0,0%,100%,.87) !important;
    background: #3c4252 !important;
    padding: 0 16px 0 24px;
    height: 64px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
  }

  
  img {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    //border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #fff;
  }

  .menu-tree {
    background: transparent;

    .badge {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      justify-content: center;
      min-width: 15px;
      height: 20px;
      padding: 0 7px;
      font-size: 11px;
      font-weight: 600;
      border-radius: 20px;
      -webkit-transition: opacity .2s ease-in-out .1s;
      transition: opacity .2s ease-in-out .1s;
      margin-left: 8px;
      color: #fff !important;
    }

    .menu-tree-invisible {
      display: none;
    }

    li {
      display: flex;
      flex-direction: column;
      flex: 1;

      div.mat-tree-node {
        justify-content: space-between;
        padding: 0 16px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.87);

        &:hover {
          background: rgba(0,0,0,.12);
        }

        div.menu-item {
          display: flex;
          align-items: center;
          flex: 1;

          :first-child {
            margin: 5px;
          }
        }

        mat-icon {
          font-size: 16px;
          width: 16px;
          height: 16px;
          min-width: 16px;
          min-height: 16px;
          line-height: 16px;
        }
      }

      ul {
        margin: 0;
      }
    }
  }

}