

<!-- BANDEJA -->
<h2><span>Listado de Balotarios</span></h2>
<mat-card>
<mat-card-content>
<div class="container" [formGroup]="filtrosForm" >
  <div class="left">
   <span>{{cantBalotarios}} &nbsp;Balotarios</span>
      </div>
  <div class="right">
    <mat-form-field appearance="outline" class="caja-top">
      <mat-label>Buscar balotario</mat-label>
      <mat-icon matPrefix style="font-size: 180% !important; cursor: pointer; padding-right: 10px;" matTooltip="Buscar persona">search</mat-icon>
      <input matInput (keyup)="onKeyup()" formControlName="codDocFrmCtrl" class="caja-size" [(ngModel)]="txtBuscar">
    </mat-form-field>
           
  </div>

  <div class="center">
    <button mat-raised-button color="primary" matTooltip="Ver preguntas" (click) = "verPreguntas()"> 
      <mat-icon  >question_answer</mat-icon><span class= "espacio-icon-label">Preguntas</span>
     
    </button>
    &nbsp; &nbsp; 
    <button mat-raised-button color="primary" matTooltip="Crear balotario" (click) = "crearBalotario()"><mat-icon  >note_add</mat-icon><span class= "espacio-icon-label">Crear balotario</span>
      
    </button> 

  </div>
  </div>
  </mat-card-content>
</mat-card>

    <div class="bandeja mat-elevation-z4" >

      <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
        <ng-container matColumnDef="seleccion" >
          <ng-container matColumnDef="seleccion" >
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let bal">
              <mat-radio-button value='{{bal.codBalotario}},{{bal.nomDescripcion}}'  (change) = "radioSeleccionado($event)" matTooltip = 'Seleccionar Balotario' ></mat-radio-button>
            </td>
          </ng-container>
        </ng-container>
    
        <ng-container matColumnDef="nomDescripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCIÓN </th>
          <td mat-cell *matCellDef="let bal"  style="width: 34%;"> {{bal.nomDescripcion}} </td>
        </ng-container>
    
        <ng-container matColumnDef="fecInicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DE INICIO</th>
          <td mat-cell *matCellDef="let bal" style="width: 15%;"> {{bal.fecInicio}} </td>
        </ng-container>
    
        <ng-container matColumnDef="fecFin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA DE FIN</th>
          <td mat-cell *matCellDef="let bal"style="width: 15%;"> {{bal.fecFin}} </td>
        </ng-container>
    
        <ng-container matColumnDef="tipoBalotario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO</th>
          <td mat-cell *matCellDef="let bal"  style="width: 15%;">{{bal.tipoBalotario}} </td>
        </ng-container>
    
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
          <td mat-cell *matCellDef="let bal"  style="width: 17%;"> {{bal.estado}} </td>
        </ng-container>
    
     
    
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef >ACCIONES</th>
          <td mat-cell *matCellDef="let bal"  style="width:   2%; text-align: center;">
    
            <button mat-icon-button color="primary" (click)="editarBalotario(bal.codBalotario)" matTooltip="Editar balotario">
                <mat-icon>edit</mat-icon>
            </button>
    
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columnas" class = "mat-header-row-formato"></tr>
        <tr mat-row  *matRowDef="let row; columns: columnas"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10, 15, 20]"></mat-paginator>

    </div>


<!-- BANDEJA -->



