<!-- CABECERA -->
<mat-toolbar class="mat-primary mat-elevation-z2 cabecera">
  {{tituloModalCargo}}
  <button tabindex="-1" mat-icon-button (click)="cerrarFormulario()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<!-- CABECERA -->


<div class="contenido-formulario" [formGroup]="cargoForm">
  <mat-dialog-content>

    <div class="row">

      <div class="columna">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Descripción del cargo<span>*</span></mat-label>
          <textarea matInput maxlength="160" placeholder="Descripción del cargo"
            formControlName="descripcionCargoFrm"  [(ngModel)]="cargo.descripcionCargo">
          </textarea>
        </mat-form-field>
      </div>

      <div *ngIf="mostrarEstado" class="columna">
        <mat-form-field appearance="outline" style="width: 36%">
          <mat-label>Estado <span>*</span></mat-label>
          <mat-select formControlName="estadoFrm" class="tamanio-seleccionar" [(ngModel)]="cargo.estado">
            <!--<mat-option [value]="-1">--SELECCIONAR--</mat-option>-->
            <mat-option value="1">ACTIVO</mat-option>
            <mat-option value="2">INACTIVO</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-card-actions>
          <div align="right" class="example-button-row">
            <button color="primary" mat-raised-button (click)=grabarCargo()>
              {{textoButton}}
            </button>

            <button color="warn" mat-raised-button (click)="cerrarFormulario()">
              Salir
            </button>
          </div>
      </mat-card-actions>


    </div>

  </mat-dialog-content>
</div>