<h2><span>Configuración General:</span></h2>

  <div class="bandeja mat-elevation-z4" >
    <mat-card>

    <mat-tab-group mat-align-tabs="start"style="height: 100%; min-height: 100% ; min-width: 100%; width: 100%; margin: 0px;">
    
  
      <mat-tab label="Categoría">
        <mat-card>
          <h4><span>Listado de categorías</span></h4>
          <mat-card-content>
            <mat-grid-list cols="12" rowHeight="2:1">
              <mat-grid-tile  colspan="1"
              rowspan="1" ><h4 ><span>{{cantCategoria}} categorías</span></h4></mat-grid-tile>
              <mat-grid-tile  colspan="9"
              rowspan="1" ></mat-grid-tile>
              <mat-grid-tile  colspan="2"
              rowspan="1" >
                <button mat-raised-button color="primary" matTooltip="Agregar categoría" (click) = "agregarCategoria()"><mat-icon  >note_add</mat-icon><span class= "espacio-icon-label">Agregar categoría</span>
                  
                </button> 
              </mat-grid-tile>
           </mat-grid-list>

              </mat-card-content>
            </mat-card>
        
              <table mat-table [dataSource]="dataSourceCategoriaTabla" #categoriaSort="matSort" matSort matSortStart="desc">
    
                <ng-container matColumnDef="categoria">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> CATEGORÍA </th>
                  <td mat-cell *matCellDef="let data"  style="width: 60%;"> {{data.cidNombre}} </td>
                </ng-container>
            
                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO</th>
                  <td mat-cell *matCellDef="let data" style="width: 20%;"> {{data.estados}} </td>
                </ng-container>
            
                <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef>EDITAR</th>
                  <td mat-cell *matCellDef="let data"style="width: 20%; text-align: center;">
                    <button mat-icon-button color="primary" (click)="editarCategoria(data.idCodigo)"  matTooltip="Editar categoria">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="columnasCategoria" class = "mat-header-row-formato"></tr>
                <tr mat-row  *matRowDef="let row; columns: columnasCategoria"></tr>
              </table>
            
              <mat-paginator #paginatorCategoria [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      </mat-tab>
  
      <mat-tab label="Área">
        <mat-card>
          <h4><span>Listado de áreas</span></h4>
          <mat-card-content>
            <mat-grid-list cols="12" rowHeight="2:1">
              <mat-grid-tile  colspan="1"
              rowspan="1" ><h4 ><span>{{cantArea}} áreas</span></h4></mat-grid-tile>
              <mat-grid-tile  colspan="9"
              rowspan="1" ></mat-grid-tile>
              <mat-grid-tile  colspan="2"
              rowspan="1" >
                <button mat-raised-button color="primary" matTooltip="Agregar área" (click) = "agregarArea()"><mat-icon  >note_add</mat-icon><span class= "espacio-icon-label">Agregar área</span>
                  
                </button> 
              </mat-grid-tile>
           </mat-grid-list>
           
              </mat-card-content>
            </mat-card>


        
              <table mat-table [dataSource]="dataSourceAreaTabla" #areaSort="matSort" matSort matSortStart="desc">
    
                <ng-container matColumnDef="categoria">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> CATEGORÍA </th>
                  <td mat-cell *matCellDef="let data"  style="width: 30%;"> {{data.categoria}} </td>
                </ng-container>
            
                <ng-container matColumnDef="cidNombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ÁREA</th>
                  <td mat-cell *matCellDef="let data" style="width: 40%;"> {{data.cidNombre}} </td>
                </ng-container>

                <ng-container matColumnDef="estados">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO</th>
                  <td mat-cell *matCellDef="let data" style="width: 20%;"> {{data.estados}} </td>
                </ng-container>
            
                <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef>EDITAR</th>
                  <td mat-cell *matCellDef="let data"style="width: 20%; text-align: center;">
                    <button mat-icon-button color="primary" (click)="editarArea(data.idCodigo)"  matTooltip="Editar área">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="columnasArea" class = "mat-header-row-formato"></tr>
                <tr mat-row  *matRowDef="let row; columns: columnasArea"></tr>
              </table>
            
              <mat-paginator #paginatorArea [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
           
  
     
      </mat-tab>
  
      <mat-tab label="Local">
       
        <mat-card>
          <h4><span>Listado de locales</span></h4>
          <mat-card-content>
            <mat-grid-list cols="12" rowHeight="2:1">
              <mat-grid-tile  colspan="1"
              rowspan="1" ><h4 ><span>{{cantLocal}} locales</span></h4></mat-grid-tile>
              <mat-grid-tile  colspan="9"
              rowspan="1" ></mat-grid-tile>
              <mat-grid-tile  colspan="2"
              rowspan="1" >
                <button mat-raised-button color="primary" matTooltip="Agregar local" (click) = "agregarLocal()"><mat-icon  >note_add</mat-icon><span class= "espacio-icon-label">Agregar local</span>
                  
                </button> 
              </mat-grid-tile>
           </mat-grid-list>

              </mat-card-content>
            </mat-card>
   
        
              <table mat-table [dataSource]="dataSourceLocalTabla"  #localSort="matSort" matSort matSortStart="desc">
    
                <ng-container matColumnDef="categoria">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> CATEGORÍA </th>
                  <td mat-cell *matCellDef="let data"  style="width: 20%;"> {{data.categoria}} </td>
                </ng-container>
            
                <ng-container matColumnDef="area">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ÁREA</th>
                  <td mat-cell *matCellDef="let data" style="width: 30%;"> {{data.area}} </td>
                </ng-container>

                <ng-container matColumnDef="local">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> LOCAL</th>
                  <td mat-cell *matCellDef="let data" style="width: 30%;"> {{data.cidNombre}} </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO</th>
                  <td mat-cell *matCellDef="let data" style="width: 10%;"> {{data.estados}} </td>
                </ng-container>
            
                <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef>EDITAR</th>
                  <td mat-cell *matCellDef="let data"style="width: 20%; text-align: center;">
                    <button mat-icon-button color="primary" (click)="editarLocal(data.idCodigo)"  matTooltip="Editar local">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="columnasLocal" class = "mat-header-row-formato"></tr>
                <tr mat-row  *matRowDef="let row; columns: columnasLocal"></tr>
              </table>
            
              <mat-paginator #paginatorLocal [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
           
  
     
      </mat-tab>
  
      <mat-tab label="Cargo"  >    
    
        <mat-card>
          <h4><span>Listado de cargos</span></h4>
          <mat-card-content>
            <mat-grid-list cols="12" rowHeight="2:1">
              <mat-grid-tile  colspan="1"
              rowspan="1" ><h4 ><span>{{cantCargo}} cargos</span></h4></mat-grid-tile>
              <mat-grid-tile  colspan="9"
              rowspan="1" ></mat-grid-tile>
              <mat-grid-tile  colspan="2"
              rowspan="1" >
                <button mat-raised-button color="primary" matTooltip="Agregar cargo" (click) = "agregarCargo()"><mat-icon  >note_add</mat-icon><span class= "espacio-icon-label">Agregar cargo</span>
                  
                </button> 
              </mat-grid-tile>
           </mat-grid-list>

              </mat-card-content>
            </mat-card>

      <table mat-table  [dataSource]="dataSourceCargoTabla" matSort #cargoSort="matSort" matSortStart="desc" >
    
                <ng-container matColumnDef="cargo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> CARGO </th>
                  <td mat-cell *matCellDef="let data"  style="width: 60%;"> {{data.cidNombre}} </td>
                </ng-container>
            
                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO</th>
                  <td mat-cell *matCellDef="let data" style="width: 20%;"> {{data.estados}} </td>
                </ng-container>
            
                <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef >EDITAR</th>
                  <td mat-cell *matCellDef="let data"style="width: 20%; text-align: center;">
                    <button mat-icon-button color="primary"  (click)="editarCargo(data.idCodigo)" matTooltip="Editar cargo">
                      <mat-icon>edit</mat-icon>
                    </button>
  
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="columnasCargo" class = "mat-header-row-formato"></tr>
                <tr mat-row  *matRowDef="let row; columns: columnasCargo"></tr>
              </table>
            
              <mat-paginator #paginatorCargo [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
           
  
     
  
      </mat-tab>
  
      <mat-tab label="Tema">
    
        <mat-card>
          <h4><span>Listado de temas</span></h4>
          <mat-card-content>
            <mat-grid-list cols="12" rowHeight="2:1">
              <mat-grid-tile  colspan="1"
              rowspan="1" ><h4 ><span>{{cantTema}} temas</span></h4></mat-grid-tile>
              <mat-grid-tile  colspan="9"
              rowspan="1" ></mat-grid-tile>
              <mat-grid-tile  colspan="2"
              rowspan="1" >
                <button mat-raised-button color="primary" matTooltip="Agregar tema" (click) = "agregarTema()"><mat-icon  >note_add</mat-icon><span class= "espacio-icon-label">Agregar tema</span>
                  
                </button> 
              </mat-grid-tile>
           </mat-grid-list>

              </mat-card-content>
            </mat-card>

       <table mat-table  [dataSource]="dataSourceTemaTabla" #temaSort="matSort" matSort matSortStart="desc">
    
            <ng-container matColumnDef="tema">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> TEMA </th>
              <td mat-cell *matCellDef="let data"  style="width: 40%;"> {{data.cidNombre}} </td>
            </ng-container>
        
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO</th>
              <td mat-cell *matCellDef="let data" style="width: 4%;"> {{data.estados}} </td>
            </ng-container>
  
            <ng-container matColumnDef="editar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> EDITAR </th>
              <td mat-cell *matCellDef="let data"style="width: 20%; text-align: center;">
                <button mat-icon-button color="primary"  (click)="editarTema(data.idCodigo)" matTooltip="Editar tema">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>
            
        
            <tr mat-header-row *matHeaderRowDef="columnasTema" class = "mat-header-row-formato"></tr>
            <tr mat-row  *matRowDef="let row; columns: columnasTema"></tr>
          </table>
          <mat-paginator #paginatorTemas [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
     
      </mat-tab>
  
    </mat-tab-group>
    
  </mat-card>
  </div>
