<!-- CABECERA 
<mat-toolbar class="mat-primary mat-elevation-z2 cabecera">
  {{tituloModalUsuario}}
  <button tabindex="-1" mat-icon-button (click)="cerrarFormulario()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
CABECERA -->

<mat-card>
  <mat-card-content>
<div class="container">

   
    <div class="left">
      <span>{{cantTemaPregunta}}  &nbsp; Preguntas</span>
    
    </div>
    <div class="center" style="margin-top: 8px;
    font-weight: 500;">
      <span>{{descBalotario}}</span>
                   
     </div>
     <div class="right">
      <button mat-raised-button color="primary" matTooltip="cerrar" (click) = "cerrarFormulario()"> 
      <span>Cerrar</span>
      </button>
     </div>            
     
 
    <div class="bandeja mat-elevation-z4" >

      <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
    
    
        <ng-container matColumnDef="nro">
          <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Nro. </th>
          <td mat-cell *matCellDef="let tpreg" >{{tpreg.correlativo}}</td>
        </ng-container>
    
        <ng-container matColumnDef="nomTema">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40%;"> Temas </th>
          <td mat-cell *matCellDef="let tpreg" > {{tpreg.nomTema}}</td>
        </ng-container>
    
        <ng-container matColumnDef="nomPregunta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 50%;"> Pregunta </th>
          <td mat-cell *matCellDef="let tpreg" style="text-align: left;"> {{tpreg.nomPregunta}}</td>
        </ng-container>
    
                 
        <tr mat-header-row *matHeaderRowDef="columnas" class = "mat-header-row-formato"></tr>
        <tr mat-row  *matRowDef="let row; columns: columnas"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
        
     </div>
  

</div>

  </mat-card-content>
</mat-card>