
<div class="container">
  <mat-card class="card-center-texto">
    
    
      <mat-card-header style = "margin-left: -15px; margin-top: -20px;">
        <mat-card-title><h4>{{this.textoDescripcion}}</h4></mat-card-title>
      </mat-card-header>

      <mat-card-content style = "margin-top: -10px;">
        <section style="text-align: justify;">
          <span style="font-weight: 400;  font-size: 20px;">{{this.textoMensaje}}</span>
        </section>
      </mat-card-content>
  
  </mat-card>

</div>
<br>
<div class="container"> 
  <div class="example-button-row">
    <button mat-raised-button color="accent" (click)="iniciar()"   [style.visibility]=" habilitarbtnContinuar ? 'hidden': 'visible'">
      CONTINUAR <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>