
    <!-- CABECERA -->
    <mat-toolbar class="mat-primary mat-elevation-z2 cabecera">
      <span>ADJUNTAR ARCHIVO EXCEL </span>
       
    </mat-toolbar>
    <!-- CABECERA -->

        <div class="contenido-formulario">
            <div class="columna">
                    <div>
                      <mat-label><span>Archivo</span></mat-label>
                    <mat-label >
                     <span class="mat-raised-button btn-file">
                        Seleccionar Archivo ...<input #myInput type="file" (change)="selectFile($event)" id="idFile"  title="" accept=".xls,.xlsx" [disabled]="examinarFiles">
                       
                <!--     Examinar...<input type="file" (click)="onFileSelected()" id="idFile"  [disabled]="examinarFiles"> -->
                      </span>
                    </mat-label>
             
                    <mat-label *ngIf="fileUploadRes.status !=='progress'" style="margin-left: 10px;">
                         {{archivo}}
                    </mat-label>
            
                   
                </div>                     
            </div>
            <div class="columna">
              <mat-label>
                {{dateString}}
             </mat-label>            
            </div>
     
            <hr style="margin-top: 14px;">
        </div>


<div align="right" class="botones-margen-derecho">

  <button color="primary" mat-raised-button [disabled]="!selectedFiles" (click)="cargarExcelPresupuesto($event)" type="button"  style="margin-right:10px;">
    <mat-icon>file_upload</mat-icon>
    <mat-label  style="margin-right:35px;">Importar</mat-label>
 </button>      

  <button color="warn" mat-raised-button (click)="cancelarCarga()">
      <!-- <mat-icon>highlight_off</mat-icon> Cerrar -->
      <mat-icon>highlight_off</mat-icon> Cancelar

  </button>

</div>

<br><br>
  
<ngx-spinner
bdColor="rgba(0,0,0,0.70)"
size="large"
color="#fff"
type="line-scale-party"
>
<p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

    
