<mat-card class="navbar">
    <div class="navbar-content" style="width: 100%;">
        <span class="formato_titulo">{{cabecera.titulo}}</span>
    </div>
    <div class="navbar-actions">
        <button mat-button [matMenuTriggerFor]="menu" class="user-button" [matTooltip]="user.puesto">

           <img src="assets/images/profile.jpg"  [hidden]= "mostrarImagenHombre">
            <img src="assets/images/mujer.jpg"  [hidden]= "mostrarImagenMujer">
            <span>{{ user.nombres | titlecase }}</span>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="cambiarContrasena()"><mat-icon>vpn_key</mat-icon> Cambiar contraseña</button>
            <button mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon> Cerrar Sesión</button>
        </mat-menu>
    </div>
</mat-card> 