<!-- CABECERA -->
<mat-toolbar class="mat-primary mat-elevation-z2 cabecera">
  {{tituloModalUsuario}}
  <button tabindex="-1" mat-icon-button (click)="cerrarFormulario()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<!-- CABECERA -->


<div class="contenido-formulario" [formGroup]="personaForm">
   
      <div class="bandeja">
        <div class="container">
          <div class="row">

            <div class="columna">
              <mat-form-field appearance="outline">
                <mat-label>Usuario <span>*</span></mat-label>
                <input maxlength="10" matInput formControlName="usuarioFrm" sololetra [(ngModel)]="persona.usuario" style="font-weight: 500;">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Clave <span>*</span></mat-label>
                <input type="password"  maxlength="100" matInput formControlName="claveFrm"  [(ngModel)]="persona.clave">
              </mat-form-field>
            </div>

        

            <div class="columna">
              <mat-form-field appearance="outline">
                <mat-label>Primer nombre <span>*</span></mat-label>
                <input maxlength="60" matInput formControlName="primerNombreFrm" sololetra [(ngModel)]="persona.primerNombre">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Segundo nombre</mat-label>
                <input maxlength="60" matInput formControlName="segundoNombreFrm" sololetra [(ngModel)]="persona.segundoNombre">
              </mat-form-field>
              
            </div>

            <div class="columna">
               
              <mat-form-field appearance="outline">
                <mat-label>Apellido Paterno <span>*</span></mat-label>
                <input maxlength="60" matInput formControlName="apellidoPaternoFrm" sololetra [(ngModel)]="persona.apePaterno">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Apellido Materno <span>*</span></mat-label>
                <input maxlength="60" matInput formControlName="apellidoMaternoFrm" sololetra [(ngModel)]="persona.apeMaterno">
              </mat-form-field>

            </div>

         

            <div class="columna">
               
              <mat-form-field appearance="outline">
                <mat-label>Código trabajador <span>*</span></mat-label>
                <input maxlength="8" matInput formControlName="codigoTrabajadorFrm"  [(ngModel)]="persona.codTrabajador">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Sueldo básico(S/.)</mat-label>
                <input maxlength="10" matInput formControlName="sueldoFrm"  [(ngModel)]="persona.sueldoBasico">
              </mat-form-field>

            </div>

            <div class="">
              <mat-form-field appearance="outline" style="width: 60%">
                <mat-label>Correo <span>*</span></mat-label>
                <input maxlength="150" matInput formControlName="correoFrm"  [(ngModel)]="persona.correoElectronico">
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="outline" style="width: 36%">
                <mat-label>Sexo <span>*</span></mat-label>
                <mat-select formControlName="sexoFrm" class="tamanio-seleccionar"
                [(ngModel)]="persona.sexo" >
                <!--<mat-option [value]="-1">--SELECCIONAR--</mat-option>-->
                <mat-option value="M">Masculino</mat-option>
                <mat-option value="F">Femenino</mat-option>
              </mat-select>
              </mat-form-field>
              
            </div>

            
            <div class="">             
              <mat-form-field appearance="outline" style="width: 40%">
                <mat-label>Fecha nacimiento <span>*</span></mat-label>
                <input matInput [matDatepicker]="picker1" (click)="picker1.open()" formControlName="fechaNacimientoFrm"
                [(ngModel)]="persona.fecNacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="outline" style="width: 56%">
                <mat-label>Fecha ingreso a la empresa <span>*</span></mat-label>
                <input matInput [matDatepicker]="picker2" readonly (click)="picker2.open()" formControlName="fechaIngresoFrm"
                [(ngModel)]="persona.fecIngreso">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>

  

            <div class="columna">
               
              <mat-form-field appearance="outline">
                <mat-label>Tipo de documento <span>*</span></mat-label>
                <mat-select formControlName="tipoDocFrm" class="tamanio-seleccionar" 
                [(ngModel)]="persona.idTipoDocumento" >
                  <mat-option *ngFor="let tipoDoc of listTipoDocumento" [value]="tipoDoc.idCodigo">{{tipoDoc.cidNombre}}</mat-option>    
                </mat-select>
              </mat-form-field>
          
              <mat-form-field appearance="outline" style="width: 30%;">
                <mat-label>Número de documento <span>*</span></mat-label>
                <input maxlength="11" matInput formControlName="numeroDocFrm"  [(ngModel)]="persona.numDocumento">
              </mat-form-field>

            </div>



            <div class="columna">
               
              <mat-form-field appearance="outline">
                <mat-label>Cargo <span>*</span></mat-label>
                <mat-select formControlName="cargoFrm" class="tamanio-seleccionar"
                [(ngModel)]="persona.idCargo" >
                <mat-option *ngFor="let cargo of listCargo" [value]="cargo.idCodigo">{{cargo.cidNombre}}</mat-option>    
              </mat-select>
              </mat-form-field>
          
              <mat-form-field appearance="outline">
                <mat-label>Categoria <span>*</span></mat-label>
                <mat-select formControlName="categoriaFrm" class="tamanio-seleccionar"
                [(ngModel)]="persona.idCategoria" >
               <mat-option *ngFor="let cat of listCategoria" [value]="cat.idCodigo" (click)="buscarArea(cat.idCodigo)">{{cat.cidNombre}}</mat-option>    
              </mat-select>
              </mat-form-field>

            </div>


            <div class="columna">
               
              <mat-form-field appearance="outline">
                <mat-label>Área <span>*</span></mat-label>
                <mat-select formControlName="areaFrm" class="tamanio-seleccionar"
                [(ngModel)]="persona.idArea" >
                <mat-option *ngFor="let area of listArea" [value]="area.idCodigo" (click)="buscarlocal(area.idCategoria, area.idCodigo)">{{area.cidNombre}}</mat-option>  
              </mat-select>
              </mat-form-field>
          
              <mat-form-field appearance="outline">
                <mat-label>Local <span>*</span></mat-label>
                <mat-select formControlName="localFrm" class="tamanio-seleccionar"
                [(ngModel)]="persona.idLocal" >
                <mat-option *ngFor="let local of listLocal" [value]="local.idCodigo" >{{local.cidNombre}}</mat-option> 
              </mat-select>
              </mat-form-field>

            </div>

            <div>
              <mat-form-field appearance="outline" style="width: 48.3%">
                <mat-label>Rol <span>*</span></mat-label>
                <mat-select formControlName="rolFrm" class="tamanio-seleccionar"
                [(ngModel)]="persona.idRol" >
                <mat-option *ngFor="let rol of listRol" [value]="rol.idCodigo">{{rol.cidNombre}}</mat-option>    
              </mat-select>
              </mat-form-field>

             
              <mat-form-field   *ngIf="estado_modificar == true" appearance="outline"  style="width: 48%; padding-left: 9px;">
                <mat-label>Estado <span>*</span></mat-label>
                <mat-select formControlName="estadoFrm" class="tamanio-seleccionar" 
                [(ngModel)]="persona.idEstado" >
                <mat-option *ngFor="let est of listEstado" [value]="est.idCodigo">{{est.cidNombre}}</mat-option>    
              </mat-select>
              </mat-form-field>

            </div>

          </div>
        </div>
        <hr style="margin-top: 14px;">
      </div>
      <div align="right" class="example-button-row">
        <button color="primary" mat-raised-button (click) = guardarPersona()>
          {{textoButton}}
        </button>

        <button color="warn" mat-raised-button (click)="cerrarFormulario()">
          Salir
        </button>
      </div>
   
</div>