
<div class="container" style="margin-left: 170px;">
    <div style="display: inline-block;">
        <h1>Resultado: &nbsp;&nbsp;&nbsp; <span [style.background-color] ="aprobado ? '#81d254': 'red'" style="padding-left: 10px; padding-right: 2px;">{{CresultPorcentaje | number: '1.2-2'}} % </span>
            &nbsp;&nbsp; <span style="margin-right: 10px;">({{ CpreguntasCorrecta }}</span>de<span style="margin-left: 10px;">{{ CpreguntasTotal }}</span>)
        </h1>
    </div>
   
  </div>
 <!--
  <div class="container"> 
  <h1>Calificación: &nbsp;&nbsp;&nbsp; {{CresultCalificacion  | number : '1.2-2' }} </h1>
</div>
-->
<div class="container" style="top: -20px;">
  <h1>Intentos: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{CnumeroIntento}} de {{CcantidadIntento}} </h1>
</div>

<div class="container">
    <div class="example-button-row" [hidden]="ocultar">
        <button mat-raised-button color="accent" (click)="intentarNuevo()"   >
            <mat-icon>refresh</mat-icon> Intentar Nuevamente
        </button>
    </div>
</div>
<br>

<div class="container">
    <div class="example-button-row">
        <button mat-raised-button color="accent" (click)="finalizar()">
            <mat-icon>send</mat-icon> Finalizar
        </button>
    </div>
</div>
