<!-- CABECERA -->
<mat-toolbar class="mat-primary mat-elevation-z2 cabecera">
  <span>Importar preguntas y respuestas desde un archivo excel</span>
  <button tabindex="-1" mat-icon-button (click)="dialogRef.close()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<!-- CABECERA -->


<div class="contenido-formulario" >
   
      <div class="bandeja">
        <div class="container">
          <div class="row">

          <div >

              <mat-label><span  >Cargar un archivo excel con nuevas preguntas y respuestas</span></mat-label>
             
            </div>    
            <div style="margin-top: 6px;">
              <mat-label><mat-icon style="cursor: pointer !important; color: rgb(36, 84, 187);" (click) = "descargarPlantillaExcel()">get_app</mat-icon><span style="text-decoration: underline; cursor: pointer !important; color: rgb(36, 84, 187);" (click) = "descargarPlantillaExcel()">Descargue la plantilla de preguntas aquí </span></mat-label>
            </div>    
       

           
         
          </div>
        </div>
        <hr style="margin-top: 14px;">
      </div>
      <div align="right" class="example-button-row">
       
        <button mat-raised-button color="primary" matTooltip="Importar vía excel" 
        (click) = "importarExcel()"> 
        <mat-icon >publish</mat-icon><span class= "espacio-icon-label"> Importar vía excel</span>
      </button>

      </div>
   
</div>