<!-- CABECERA -->
<mat-toolbar class="mat-primary mat-elevation-z2 cabecera">
  {{tituloModalPregunta}}
  <button tabindex="-1" mat-icon-button (click)="cerrarFormulario()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<!-- CABECERA -->


<div class="contenido-formulario" [formGroup]="preguntaForm">
  <mat-dialog-content>

    <div class="row">

      <div class="columna">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Descripción de la pregunta<span>*</span></mat-label>
          <textarea matInput maxlength="200" placeholder="Descripción de la pregunta"
            formControlName="descripcionPreguntaFrm" [(ngModel)]="pregunta.descripcionPregunta"></textarea>
        </mat-form-field>
      </div>

      <div class="columna">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Descripción corta<span>*</span></mat-label>
          <textarea matInput maxlength="30" placeholder="Descripción de la pregunta"
            formControlName="descripcionCortaPreguntaFrm" [(ngModel)]="pregunta.descripcionCortaPregunta"></textarea>
        </mat-form-field>
      </div>


      <div class="columna">
        <mat-form-field appearance="outline" style="width: 36%">
          <mat-label>Tema <span>*</span></mat-label>
          <mat-select formControlName="temaFrm" class="tamanio-seleccionar" [(ngModel)]="pregunta.idTema">
            <mat-option *ngFor="let tema of listTema" [value]="tema.idCodigo">
              {{tema.cidNombre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="mostrarEstado" class="columna">
        <mat-form-field appearance="outline" style="width: 36%">
          <mat-label>Estado <span>*</span></mat-label>
          <mat-select formControlName="estadoFrm" class="tamanio-seleccionar" [(ngModel)]="pregunta.estado">
            <!--<mat-option [value]="-1">--SELECCIONAR--</mat-option>-->
            <mat-option value="1">ACTIVO</mat-option>
            <mat-option value="2">INACTIVO</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-card class="example-card mat-card">
        <mat-card-header>
        </mat-card-header>

        <mat-card-content>
          <mat-card-title>
            <mat-grid-list cols="6" rowHeight="4:1">
              <mat-grid-tile colspan="1" rowspan="1">
                <mat-label> {{cantRespuestas}} Respuestas</mat-label>

              </mat-grid-tile>
              <mat-grid-tile colspan="3" rowspan="1">

              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <button color="primary" mat-raised-button (click)=agregarRespuesta() [disabled]="preguntaRealizada">
                  Agregar Respuesta
                </button>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-title>



          <div class="mat-elevation-z4">


            <div class="bandeja mat-elevation-z4">
              <table mat-table [dataSource]="dataSource" style="width: 100%;" matSort matSortStart="desc">


                <ng-container matColumnDef="correcta">
                  <th mat-header-cell *matHeaderCellDef>CORRECTA
                  </th>
                  <td mat-cell *matCellDef="let data; let i = index;" style="width: 2%;">
                    <mat-radio-button [disabled]="preguntaRealizada" [value]="data.fiCorrecta" value='{{data.nombreRespuesta}}'
                      [checked]="data.fiCorrecta==1" (change)="radioSeleccionado(i)"
                      matTooltip='Seleccionar respuesta correcta'></mat-radio-button>
                  </td>
                </ng-container>

                <ng-container matColumnDef="nro">
                  <th mat-header-cell *matHeaderCellDef> NRO. </th>
                  <td mat-cell *matCellDef="let data" style="width: 2%;"> {{data.letra}} </td>
                </ng-container>

                <ng-container matColumnDef="nombreRespuesta">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> RESPUESTA </th>
                  <td mat-cell *matCellDef="let data" style="width: 94%;">
                    <mat-form-field appearance="outline">
                      <mat-label></mat-label>
                      <input [disabled]="preguntaRealizada" matInput maxlength="200" [value]="data.nombreRespuesta" [(ngModel)]="data.nombreRespuesta"
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="accion">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let data; let i = index;" style="width: 2%;">

                    <button [disabled]="preguntaRealizada" mat-icon-button color="primary" (click)="eliminarRespuesta(i)"
                      matTooltip="Eliminar respuesta">
                      <mat-icon>delete</mat-icon>
                    </button>

                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnas3" class="mat-header-row-formato"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas3"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 15, 20]"></mat-paginator>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>

          <div align="right" class="example-button-row">
            <button color="primary" mat-raised-button (click)=guardarPregunta()>
              {{textoButton}}
            </button>

            <button color="warn" mat-raised-button (click)="cerrarFormulario()">
              Salir
            </button>
          </div>
        </mat-card-actions>
      </mat-card>


    </div>

  </mat-dialog-content>
</div>
