.page {
  mat-card {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .button-separate {
    margin-left: 10px !important;
  }

  table {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
    margin: auto 10px;
    textarea {
      height: 100%;
    }
  }

  mat-dialog-content > * {
    font-size: 12px !important;
  }

  .icono {
    height: 25px;
    width: auto;
  }

  .btnRigth {
    margin-top: 10px;
    direction: initial; //PARA ALINEAR LOS BOTONES A LA DERECHA
    display: flex; //PARA ALINEAR LOS BOTONES A LA DERECHA --> REDUCE EL TAMAÑO DE BOTONES AL MINIMO
    justify-content: flex-end; //PARA ALINEAR LOS BOTONES A LA DERECHA
    button {
      margin-right: 5px;
      min-width: 64px !important;
    }
  }

  mat-expansion-panel {
    mat-expansion-panel-header {
      font-weight: bolder;
    }
  }

  .table-resultados {
    mat-card-title {
      font-size: 15px;
      font-weight: bolder;
    }
  }
}


.mat-form-field {//REDUCE TAMAÑO DE IMPUT
  line-height: 16px !important;
}

::ng-deep .mat-form-field-label {
  top: 1.79em !important; //UBICA EL LABEL DEL FIELD SET MAS ARRIBA EN CUANTO MENOR VALOR
}
