.mat-dialog-title {
  margin: 0px !important;
}

.mat-dialog-actions {
  &[align="end"] {
    justify-content: flex-end;
  }

  &[align="center"] {
    justify-content: center;
  }

  &[align="start"] {
    justify-content: flex-start;
  }
}

.mat-grid-tile .mat-figure {
  justify-content: left !important;
  button {
    margin-left: 10px;
  }
}

mat-dialog-content > .table-container {
  margin-top: 15px;
}

.none {
  display: none;
}

.dialog-form-actions > ::ng-deep figure {
  //BOTONES ACCION DEL DIALOG A LA IZQUIERDA
  justify-content: flex-start !important;
  button {
    margin-right: 10px;
  }
}

mat-form-field {
  //TAMAÑO Y TIPO DE LETRA DE FORM
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

//ESTILOS BOTONES ACCION DIALOG
.btn-icon-input {
  background-color: #ffffff;
  position: absolute;
  top: 3px;
  right: -10px;
  margin: -11px 0;
  padding: 0;
  min-width: 25px;
}

.btn-input {
  background-color: #ffffff;
  position: absolute;
  top: 3px;
  right: -10px;
  margin: -11px 0;
  padding: 0;
  min-width: 25px;
  height: 40px;
}

.empty {
  padding: 20px;
  text-align: center;
  position: sticky;
  bottom: 0px;
  left: 0px;
  font-size: 0.8em;
  font-weight: 500;
}

.none {
  display: none;
}

.button-separate > button {
  margin-left: 10px !important;
  margin-top: 10px;
}
