:host{

 .chart-container{
    padding-top: 20px;
    height:150px; 
    width:300px;
    padding-bottom: 0px;
 }

 .bandeja {
   position: relative;
   margin-top: 10px;
   padding: 16px;
   display: flex;
   flex-direction: column;

   table {
     width: 100%;

     td.mat-column-desde mat-icon {
       font-size: 20px;
     }

     td.mat-column-modulos .contenido {
       display: flex;
       flex-direction: row;
       align-items: center;

       .dest-ori {
         width: 21px;
         text-align: center;
       }

       .contenido-modulos {
         display: flex;
         flex-direction: column;
         padding: 0 10px;
 
         .modulo {
           display: flex;
           flex-direction: row;
           align-items: center;
         }
       }
     }

     td.mat-column-usuarioAtendido {
       font-size: 25px;
     }

     td.mat-column-estado > .estado {
       padding: 5px;
       margin: 0 10px;
       text-align: center;
       width: 90px;
       color: #FFFFFF !important;
       font-weight: 500;
       border-radius: 3px;
       font-size: 11px;
       text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
       cursor: pointer;

       &.small {
         width: 40px !important;
       }

       &.disabled {
         pointer-events: none;
       }
     }

     .mat-column-acciones, .mat-column-desde {
       width: auto;

       button {
         margin: 0 10px;
       }
     }
   }
 }

 .paginacion-right{
   display: inline !important;
 }
 
 .mat-toolbar-fondo{
   background: #fff;
 }

 .app-spinner {
   width: 150px !important;
   height: 25px !important;
   background: #E4E8EB;
   border-radius: 5px;
}

.container {
   position:relative;
   display:flex;
   justify-content:left;
   align-items:left;
 }

.text {
   position: absolute;
   z-index: 1;
   font-size: 19px;
   color: white;
   font-weight: bold;
   justify-content:center;
   align-items:center;
 }


}