<mat-card>
  <mat-card-content>
    <div class="chart-container">
      <canvas id="canvas"></canvas>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div class=" bandeja mat-elevation-z6 ">

      <div class="thead">
        <input type="text" style="float:right; width: 250px;height: 25px;" (keyup)="applyFilter($event.target.value)"
          placeholder="Buscar" class="form-control-sm top-margin">
      </div>

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="nro">
          <th mat-header-cell *matHeaderCellDef> Nro</th>
          <td mat-cell *matCellDef="let area">{{area.nro}} </td>
        </ng-container>

        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef> Área </th>
          <td mat-cell *matCellDef="let area"> {{area.area}} </td>
        </ng-container>

        <ng-container matColumnDef="evaluacion">
          <th mat-header-cell *matHeaderCellDef> Evaluación </th>
          <td mat-cell *matCellDef="let area"> {{area.evaluacion}} </td>
        </ng-container>

        <ng-container matColumnDef="avance">
          <th mat-header-cell *matHeaderCellDef> Avance </th>
          <td mat-cell *matCellDef="let area">
            <div class="container">
              <span class="text">{{area.avance}} %</span>
              <mat-progress-bar class="app-spinner" mode="determinate" value="{{area.avance}}"></mat-progress-bar>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>

      <div class="empty" *ngIf="!isLoading && dataSource === null">
        No existe datos para mostrar en la tabla
      </div>

      <mat-toolbar>
        <mat-toolbar-row class="paginacion-right mat-toolbar-fondo">
          <div>
            <mat-paginator [length]="total" [pageIndex]="pagina - 1" [pageSize]="cantidad" [showFirstLastButtons]="true"
              [pageSizeOptions]="[15, 30, 50]" (page)="cambiarPagina($event)">
            </mat-paginator>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>

    </div>
  </mat-card-content>
</mat-card>