<div class="container" style="margin-top: -80px;">
  <h1 style="text-decoration: underline;">{{pregunta[this.iteracion].nombreTema}}</h1>
</div>
<div class="container" style="top: -20px">
  <h2 id="example-radio-group-label">{{pregunta[this.iteracion].nombrePregunta}}</h2>
</div>
<div class="container" style="top: -50px">
  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
    <mat-radio-button class="example-radio-button" 
      *ngFor="let respuesta of pregunta[this.iteracion].respuesta"
      [value]="respuesta"
      (click)="responder(respuesta.idRespuesta,pregunta[this.iteracion].idPregunta,pregunta[this.iteracion].idRespuestaCorrecto)">
      <b>{{respuesta.letra}}</b> &nbsp; {{respuesta.nombreRespuesta}}
    </mat-radio-button>
  </mat-radio-group>
</div>