:host{

    .container {
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
      }
      
    .example-radio-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
      }
      
      .example-radio-button {
        margin: 10px;
        font-size: 18px;
      }

}