<!-- CABECERA -->
<mat-toolbar class="mat-primary mat-elevation-z2 cabecera">
  {{tituloModalPregunta}}
  <button tabindex="-1" mat-icon-button (click)="cerrarFormulario()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<!-- CABECERA -->


<div class="contenido-formulario" [formGroup]="areaForm">
  <mat-dialog-content>

    <div class="row">

      <div class="columna">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Descripción de local<span>*</span></mat-label>
          <textarea matInput maxlength="160" placeholder="Descripción de local"
            formControlName="descripcionLocalFrm"  [(ngModel)]="local.descripcionLocal">
          </textarea>
        </mat-form-field>
      </div>

      <div class="columna">
        <mat-form-field appearance="outline" style="width: 36%">
          <mat-label>Categoría <span>*</span></mat-label>
          <mat-select formControlName="categoriaFrm" class="tamanio-seleccionar" [(ngModel)]="local.idCategoria">
            <mat-option *ngFor="let categoria of listCategoria" [value]="categoria.idCodigo" (click)="buscarArea(categoria.idCodigo)">
              {{categoria.cidNombre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="columna">
        <mat-form-field appearance="outline" style="width: 36%">
          <mat-label>Área <span>*</span></mat-label>
          <mat-select formControlName="areaFrm" class="tamanio-seleccionar" [(ngModel)]="local.idArea">
            <mat-option *ngFor="let area of listArea" [value]="area.idCodigo">
              {{area.cidNombre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="mostrarEstado" class="columna">
        <mat-form-field appearance="outline" style="width: 36%">
          <mat-label>Estado <span>*</span></mat-label>
          <mat-select formControlName="estadoFrm" class="tamanio-seleccionar" [(ngModel)]="local.estado">
            <!--<mat-option [value]="-1">--SELECCIONAR--</mat-option>-->
            <mat-option value="1">ACTIVO</mat-option>
            <mat-option value="2">INACTIVO</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card-actions>
          <div align="right" class="example-button-row">
            <button color="primary" mat-raised-button (click)=grabarLocal()>
              {{textoButton}}
            </button>

            <button color="warn" mat-raised-button (click)="cerrarFormulario()">
              Salir
            </button>
          </div>
     
        </mat-card-actions>

    </div>

  </mat-dialog-content>
</div>