<!-- CABECERA -->
<mat-toolbar class="mat-primary mat-elevation-z2 cabecera">
 <h3>Cambiar Contraseña</h3>
</mat-toolbar>
<!-- CABECERA -->


<div class="contenido-formulario" [formGroup]="usuarioForm">
   
      <div class="bandeja">
        <div class="container"> 
          <div class="row">

            <div class="columna">
              <mat-form-field appearance="outline">
                <mat-label>Contraseña Anterior <span>*</span></mat-label>
                <input  [type]="hideAnterior ? 'password' : 'text'"  maxlength="100" matInput formControlName="contraseniaAnteriorFrm">
                <mat-icon matSuffix (click)="hideAnterior = !hideAnterior">{{hideAnterior ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="columna">
              <mat-form-field appearance="outline">
                <mat-label>Nueva Contraseña <span>*</span></mat-label>
                <input [type]="hideNueva ? 'password' : 'text'"  maxlength="100" matInput formControlName="nuevaContraseniaFrm">
                <mat-icon matSuffix (click)="hideNueva = !hideNueva">{{hideNueva ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="columna">
              <mat-form-field appearance="outline">
                <mat-label>Confirmar Contraseña <span>*</span></mat-label>
                <input [type]="hideConfirmar ? 'password' : 'text'"  maxlength="100" matInput formControlName="confirmarContraseniaFrm">
                <mat-icon matSuffix (click)="hideConfirmar = !hideConfirmar">{{hideConfirmar ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
      
      </div>
      
        <button color="primary" mat-raised-button (click) = actualizarContrasenia() style="width: 100%;">
          <mat-icon>lock</mat-icon> CAMBIAR CONTRASEÑA 
        </button>

        
    
   
</div>