<!-- CABECERA 
<mat-toolbar class="mat-primary mat-elevation-z2 cabecera">
  {{tituloModalUsuario}}
  <button tabindex="-1" mat-icon-button (click)="cerrarFormulario()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
CABECERA -->
<mat-card>
<mat-card>
  <mat-card-content>
    <div class="container">
      <div class="bandeja mat-elevation-z4">
      <div class="contenido-formulario" >
        
        <div style="margin-top: 8px;
        font-weight: 500;">
          <span>Filtros</span>
  
        </div>
        <div class="bandeja">
          
            <div class="columna">
              <mat-form-field  style="width: 20%;"  appearance="outline">
                <mat-label>Año <span>*</span></mat-label>
                <mat-select  class="tamanio-seleccionar"  [(ngModel)]="filtro.idYear" name="anio">
                  <mat-option *ngFor="let year of listYears" [value]="year.idCodigo" (click)="buscarBalotarioYear(year.cidNombre)">
                    {{year.cidNombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field style="width: 75%;" appearance="outline">
                <mat-label>Balotario <span>*</span></mat-label>
                <mat-select [(ngModel)]="ngModelBalotarioCombo" class="tamanio-seleccionar">

                  <mat-option  *ngFor="let balotarioCombo of listBalotarioCombo" [value]="balotarioCombo">
                    {{balotarioCombo.cidNombre}}
                  </mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          
        </div>
      </div>

      <div class="container">
        <div class="contenido-formulario">

      <div style="margin-top: 8px;
      font-weight: 500;">
          <span>Selector de áreas</span>
  
        </div>
      </div>
    </div>
    <div>
     
      <div class="bandeja mat-elevation-z4">
        <div class="bandeja mat-elevation-z4">
          <div class="container"  >
            <div class="left">
              <button mat-mini-fab color="accent"  (click)="atras()" aria-label="Example icon button with a plus one icon">
                <mat-icon>arrow_left</mat-icon>
              </button>
            </div>
            
            <div class="right">
              <button mat-mini-fab color="accent"  (click)="atras()" aria-label="Example icon button with a plus one icon">
                <mat-icon>arrow_left</mat-icon>
              </button>
                     
            </div>
          
            <div style="text-align: center;">
              <h6>
                {{stringSelect}}
              </h6>
            </div>
          </div>
          </div> 
     
        <mat-grid-list class="app-class" cols="2" [cols]="2" rowHeight="2:2"  >
          <mat-grid-tile *ngIf="activo1">
            <mat-selection-list 
            [(ngModel)]="filtro.idCategoria"
            #arrayCategoriaSeleccionada   
            (selectionChange)="handleSelection($event, arrayCategoriaSeleccionada)" >
              <mat-list-option   [value]="cat.idCodigo" *ngFor="let cat of listCategoria"  (click)="buscarArea(cat.idCodigo, cat.cidNombre)">
                  <a mat-list-item > <span class="contact-names">{{cat.cidNombre }}</span> </a>
              </mat-list-option> 
          </mat-selection-list>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="activo2">
            <mat-selection-list [(ngModel)]="filtro.idArea" #columna2  
            (selectionChange)="handleSelection($event, columna2)">
                <mat-list-option [value]="area.idCodigo"  *ngFor="let area of listArea" (click)="buscarlocal(area.idCategoria, area.idCodigo,area.cidNombre)">
                    <a mat-list-item> <span class="contact-names">{{area.cidNombre }}</span> </a>
                </mat-list-option>
        
        </mat-selection-list>
        </mat-grid-tile >
        
          <mat-grid-tile *ngIf="activo3">
            <mat-selection-list 
            [(ngModel)]="filtro.idLocal" #columna3 
            (selectionChange)="handleSelection($event, columna3)" >
                <mat-list-option [value]="local.idCodigo"  *ngFor="let local of listLocal" (click)="elegirLocal(local.cidNombre)">
                    <a mat-list-item> <span class="contact-names">{{local.cidNombre }}</span> </a>
                </mat-list-option>
        
        </mat-selection-list>
        </mat-grid-tile>
      
         
        </mat-grid-list>
       
      </div>

    </div>
    </div>
    
  

  </div> 

  </mat-card-content>
  <div align="right" class="example-button-row">
    <button color="primary" mat-raised-button (click) = cerrarFiltro()>
    Cancelar
    </button>
    <button color="primary" mat-raised-button (click) = seleccionar()>
      Seleccionar
      </button>

  </div>
 
</mat-card>