:host {

  .cabecera {
    display: flex;
    justify-content: space-between;
  }
  
  .contenido-formulario {
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;

    .columna {
      display: inline-block;
      flex-direction: row;
   
      mat-form-field {
        flex: 1;
        margin-right: 10px;
        &:first-of-type {
          margin-right: 10px;
        }
      }

      &.archivos {
        flex-wrap: wrap;

        mat-card {
          cursor: pointer;
          margin: 0 10px 10px 0;

          mat-icon {
            margin: 0;
          }
        }
      }
    }
  }

  .mat-dialog-actions {
    margin-bottom: 0;
    padding: 20px;
  }

  input[type="file"] {
    display: none;
  }

  /* Círculos de colores numerados */
  .color-red {
  background: red;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
  margin-bottom: -10px;
}

.color-grey {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
  margin-bottom: -10px;
}

.color-green {
  background: #5EA226;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
  margin-bottom: -10px;
}

.color-blue {
  background: #5178D0;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
  margin-bottom: -10px;
}

.color-orange {
  background: rgb(245, 165, 45);
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
  margin-bottom: -10px;
}

.tableIconButton {
  color:#8d2121;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  &:hover {
    color: #dc400f;
  }
}

/*
.table-container tr:hover .tableIconButton {
  color: #ffffff;
}
*/

.mat-cell .tableIconButton {
background-color: #c13616;
color:  #ffffff;
&:hover {
  cursor: pointer;
  background: #8d2121;

}
}



/*  file-upload {
  position: relative;
  overflow: hidden;

  border-radius: 3px !important;
  background: #ff0000;
  text-transform: uppercase;
  font-size: 13px;
  border:none !important;
  box-shadow: none !important;
  color: #fff !important;
  text-shadow:none;
  padding: 5px 10px !important;
  font-family: Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;

}
.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
#fileuploadurl{
  display: inline-block;
  border:none;
  vertical-align: middle;
  background: none;
  box-shadow: none;
  font-size: 11px;
  padding-left: 0;
  width:220px;
  padding-right: 0;
} */


.btn-success, .btn-success:active, .btn-success:focus {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;

}
.btn-success {
  color: #fff;
  background-color: #299629; 
   border-color: #299629 !important; 
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
 line-height: 1.42857143; 
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.material-icons-add {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;
line-height: 1;
letter-spacing: normal;
text-transform: none;
display: inline-block;
white-space: nowrap;
word-wrap: normal;
direction: ltr;
/* -webkit-font-feature-settings: 'liga'; */
-webkit-font-smoothing: antialiased;
}
.empty {
padding: 20px;
text-align: center;
position: sticky;
bottom: 0px;
left: 0px;
font-size: 0.8em;
font-weight: 500;
color: #005e82;
}

.bandeja {
position: relative;
margin-top: 10px;
padding: 16px;

.nuevo-intrv {
  position: absolute;
  top: -28px;
}

table {
  width: 100%;

  td.mat-column-desde mat-icon {
    font-size: 20px;
  }

  td.mat-column-modulos .contenido {
    display: flex;
    flex-direction: row;
    align-items: center;

    .dest-ori {
      width: 21px;
      text-align: center;
    }

    .contenido-modulos {
      display: flex;
      flex-direction: column;
      padding: 0 10px;

      .modulo {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  td.mat-column-usuarioAtendido {
    font-size: 25px;
  }

  th.mat-column-estado {
    text-align: center;
  }

  td.mat-column-estado > .estado {
    padding: 5px;
    margin: 0 10px;
    text-align: center;
    width: 90px;
    color: #FFFFFF !important;
    font-weight: 500;
    border-radius: 3px;
    font-size: 11px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &.small {
      width: 40px !important;
    }

    &.disabled {
      pointer-events: none;
    }
  }

  .mat-column-acciones, .mat-column-desde {
    width: auto;

    button {
      margin: 0 10px;
    }
  }
}
}

.tamanio-seleccionar{
  font-size: 14px;
  }

  .btn-file {
      background: #02699b !important;
      margin-left: 10px;
      position: relative;
      overflow: hidden;
      color: white;
    }
    .btn-file input[type=file] {
      padding-left: 10px;
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: #0a3064 !important;
      cursor: inherit;
      display: block;
    }

.left{
      float: left;
      margin-top: -10px;
      font-weight: 500;
     
  }
  .right{
      float: right;
      margin-top: -10px;
     
  }
  .center{
     display:inline-block;
     width: 30px;
     height: 30px;
  }

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0.34375em;
    }


    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.9em 0 0.6em 0;
    }

  
    ::ng-deep .mat-form-field-flex-01 {
      background-color: #aeb3b3;
     }
     
     ::ng-deep.mat-pseudo-checkbox{
      display: none !important;
    }

    
    table {
    
      width: 100%;
    }
    
    .contact-names{
      padding-left:13px;
      padding-top:1px;
    }
    mat-selection-list{
      position:relative;
      margin-top:-20.5px;
      width:100%;
      height:100%;
      overflow-y: scroll;
    }
 
    mat-list-option[aria-selected="true"] {
      background:#039be5;
      
    }
    
    .mat-list-base .mat-list-item[aria-selected="true"] {
      color: #039be5;
  }
  ::ng-deep .bandeja{
    padding: 0px 0px 0px 0px !important;
    position: relative;
  }

  .contenido-formulario {
    padding: 0px 0px 0px 10px!important;
    display: flex;
    flex-direction: column;
}


::ng-deep .mat-list-base .mat-list-item .mat-list-text>*, .mat-list-base .mat-list-option .mat-list-text>* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: small!important; 
}

.example-button-row button, .example-button-row a {
  margin-right: 14px;
  margin-top: -10px;
}

}

::ng-deep .mat-dialog-container {

  width: 100%;
  height: 80%;
 
}
