:host{

    .inputs {
        // display: flex;
        // flex-direction: row;

        mat-form-field {
          margin-right: 10px;
          width: 100%;

          /deep/ .mat-form-field-wrapper {
            padding-bottom: 0;
          }
        }

        .acciones {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 10px;

          button:first-of-type {
            margin-right: 10px;
          }
        }
      }

      .tamanio-seleccionar{
        font-size: 12px;
        }

}